<style>
    ol {
        counter-reset: item
    }

    ol > li {
        display: block
    }

    ol > li:before {
        content: counters(item, ".") " ";
        counter-increment: item
    }
</style>
<div class="text-right" style="margin-bottom: 16px; margin-top: 16px;">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default active">EN</button>
        <a type="button" class="btn btn-default" disabled="disabled">RU</a>
        <a type="button" class="btn btn-default" disabled="disabled">EE</a>
    </div>
</div>

<h1>Privacy policy</h1>
<p>Your privacy is important to us. This privacy statement explains:</p>
<ul>
    <li>What personal data is collected by the owner of this web site or provided by you, through our interactions with
        you and your use of our web site (<a href="http://selfreboot.camp" target="_blank">http://selfreboot.camp</a>),
        apps and software
    </li>
    <li>How your personal data will be used, where it is held, how long it will be kept and your rights.</li>
</ul>

<p>Please read this privacy policy carefully.</p>
<h2>Definitions and interpretation</h2>
 
<p>In this privacy, the following definitions are used:</p>

<p><strong>Data controller</strong> means a person who (either alone or jointly or in common with other persons)
    determines the purposes for which and the manner in which any personal data are, or are to be, processed.</p>

<p><strong>Data processor</strong>, in relation to personal data, means any person (other than an employee of the data
    controller) who processes the data on behalf of the data controller.</p>

<p><strong>“You”, “your” or “data subject”</strong> means:</p>
<ul>
    <li>Visitors to our website</li>
    <li>Subscribers to any service we offer through our site</li>
    <li>Prospective or existing clients corresponding with us by phone, e-mail or otherwise</li>
</ul>

<p><strong>Data controller, “we”, “us” and “our”</strong> means: <br/>
    Applied Biochemistry Consulting OÜ and its data processors;</p>

<p><strong>Personal data</strong> means any information relating to an identifiable person who can be directly or
    indirectly identified in particular by reference to an identifier.</p>

<p>This definition provides for a wide range of personal identifiers to constitute personal data, including name,
    identification number, location data or online identifier, reflecting changes in technology and the way
    organisations collect information about people. The definition incorporates, where applicable, the definitions
    provided in the General Data Protection Regulation.</p>
<p><strong>Sensitive personal data.</strong> The GDPR refers to sensitive personal data as “special categories data”.
    Please see “Special categories data”.</p>

<p><strong>Special categories data.</strong> Means personal data consisting of information as to the racial or ethnic
    origin of the data subject, his political opinions, his religious beliefs or other beliefs of a similar nature,
    whether he is a member of a trade union, his physical or mental health or condition, his sexual life. The special
    categories specifically includes genetic data, and biometric data where processed to uniquely identify an
    individual.</p>

<p><strong>Criminal offence data. Personal data relating to criminal convictions and offences.</strong>

<h2>Who we are (Identity of the data controller)</h2>

<p>For the purpose of the General Data Protection Regulation the data controller is Applied Biochemistry Consulting OÜ
    with company registry code 14285667 and the registered address at Punane 56, Tallinn city, Harju county, 13619,
    Estonia.</p>

<h2>Personal data we may collect from you</h2>
<p>We may collect and process the following data and personal information about you:</p>

<h3>Personal data you provide us voluntarily</h3>

<p>We collect the information provided by you to operate effectively and provide you the best experiences with our
    Website, products and services. You provide some of this information voluntarily by filling in the contact forms on
    our web site, creating an account at our Website or by corresponding with us by phone, e-mail or otherwise. This
    includes information you provide if you subscribe to any service we offer through our site, send us a query or
    feedback, sign up for information on events, upload a document with your enquiry, make a booking on our site,
    purchase goods via the Website, participate in discussion boards or other social media functions on our site,
    promotion or survey, provide your postcode or location to help us to find our nearest branch to your location, or
    when you report a problem with our Website.</p>

<p>The information you may give us is Personally Identifiable Information (“PII”). When we refer to “PII” in this policy
    we mean information that identifies an individual or may with reasonable efforts cause the identification of an
    individual) may include your:</p>

<ul>
    <li>First name,</li>
    <li>Surname,</li>
    <li>e-mail address and phone number,</li>
    <li>query and comments,</li>
    <li>healthcare conditions,</li>
    <li>personal description,</li>
    <li>photograph</li>
</ul>

<h3>Sensitive information and special categories data</h3>

<p>By the nature of our business your message or attached documents might include sensitive information or special
    categories data related to your health conditions, religious beliefs and similar (please check the paragraph
    Definitions and interpretation).</p>

<p>Submission of this type of information is strictly voluntary. The submission of your enquiry is protected by an
    industry standard SSL/TLS encrypted connection. Please see the paragraph Security for more information.</p>

<p>By including special categories data in your communication you provide your informed and explicit consent to the
    transfer, storage and processing of the specified special categories personal data for the purposes specified in
    paragraph “Lawful basis and the purposes of the processing (Uses made of your personal information)”, by us and our
    Data Processors and subcontractors specified in paragraph “Trusted partners (data processors) who work on our behalf
    under confidentiality agreements and might store, maintain or process your data”.</p>

<h3>Children</h3>

<p>We do not sell any products or services for purchase by children. If you are below 16, you may use our Website only
    with the involvement of your holder of parental responsibility. We do not knowingly collect personal information
    from children below 16 without the consent of the child's holder of parental responsibility.</p>

<h3>Information you provide about others</h3>

<p>In providing personal data about other individuals (such as someone in whose name you are registering an account or
    subscribing to our marketing promotions), you represent that you have notified them of (i) the purposes for which
    information will be used (ii) the recipients of their personal data and (iii) how they can access and correct the
    information. You further represent that You have obtained all necessary consents from them.</p>

<h3>Information which may be made available to us, or collected automatically with the use of cookies or analytic
    tools</h3>

<p>We might get some information from our visitors by recording how they interact with our Website with the use of
    cookies, analytics tools or obtain data from third parties.</p>

<h4>Technical information, including personally identifiable information:</h4>

<ul>
    <li>Might include your device and connectivity information such as IP (Internet Protocol) address, unique device
        identifiers (such as the IMEI for phones)
    </li>
</ul>

<h4>Non-personally identifiable information:</h4>

<ul>
    <li>Might include your configuration data such as browser type, version and language setting, time zone setting,
        browser plug-in types and versions
    </li>

    <li>Details of how you used our Website, such as your search queries. Information about your visit, including the
        full Uniform Resource Locators (URL) clickstream to, through and from our site (including date and time);
        products you viewed or searched for; page response times, length of visits to certain pages, page interaction
        information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page.
    </li>
    <li>Log information, such as error reports, download errors, any problems you experience using our web site and any
        phone number used to call our customer service number.
    </li>
    <p>We do not combine information collected automatically through cookies and analytics tools with other personally
        identifiable information you may have provided to us when you registered for our Products or submitted a form
        through our Website.</p>

    <h2>Cookie policy</h2>

    <p>A cookie is a small file, typically of letters and numbers, downloaded on to a device when the user accesses
        certain websites. Cookies allow a website to recognise a user’s device.</p>

    <p>We might use cookies to recognize you when you visit our site or use our Services, remember your preferences, and
        give you a personalized experience:</p>
    <ul>
        <li><strong>Authentication cookies.</strong> If you're signed in to our Services, these cookies will help us
            show you the right information and personalize your experience.
        </li>

        <li><strong>Session cookies.</strong> These cookies store the ID of a user’s session. The cookie is set when a
            user signs in and is used to restore the session without entering the personal data.
        </li>

        <li><strong>Security cookies.</strong> We use cookies for our security features, and to help us detect malicious
            activity.
        </li>

        <li><strong>Preferences, features and services.</strong> These cookies help us to customise your preferences,
            such as which language you prefer and what your communications preferences are or to fill out forms on our
            faster.
        </li>

        <li><strong>Performance, Analytics and Research.</strong> Cookies help us to analyse our web site performance.
            We use cookies to improve our products, features, and services, including to create logs and record when you
            access our site.
        </li>
    </ul>
    <p>We might use them for website analytics and advertising purposes, i.e. cookies which are set and can be accessed
        by servers respectively domains of our third-party providers.</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Domain</th>
            <th>Cookie name</th>
            <th>Cookie lifetime</th>
            <th>Description of the Cookie purpose</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>@@History/@@scroll|#</td>
            <td>Persistent</td>
            <td>Statistics</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>_ga</td>
            <td>2 years</td>
            <td>Registers a unique ID that is used to generate statistical data on how the visitor uses the website.
            </td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>_gat</td>
            <td>Session</td>
            <td>Used by Google Analytics to throttle request rate</td>
        </tr>
        <tr>
            <td>google-analytics.com</td>
            <td>collect</td>
            <td>Session</td>
            <td>Used to send data to Google Analytics about the visitor's device and behaviour. Tracks the visitor
                across devices and marketing channels.
            </td>
        </tr>
        <tr>
            <td>scorecardresearch.com</td>
            <td>UID</td>
            <td>2 years</td>
            <td>Collects information of the user and his/her movement, such as timestamp for visits, most recently
                loaded pages and IP address. The data is used by the marketing research network, Scorecard Research, to
                analyse traffic patterns and carry out surveys to help their clients better understand the customer's
                preferences.
            </td>
        </tr>
        <tr>
            <td>scorecardresearch.com</td>
            <td>UIDR</td>
            <td>Session</td>
            <td>Collects information of the user and his/her movement, such as timestamp for visits, most recently
                loaded pages and IP address. The data is used by the marketing research network, Scorecard Research, to
                analyse traffic patterns and carry out surveys to help their clients better understand the customer's
                preferences.
            </td>
        </tr>
        <tr>
            <td>soundcloud.com</td>
            <td>sc_anonymous_id</td>
            <td>10 years</td>
            <td>Used by Google AdWords to re-engage visitors that are likely to convert to customers based on the
                visitor's online behaviour across websites.
            </td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>i</td>
            <td>10 years</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>yandexuid</td>
            <td>10 years</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>yp</td>
            <td>10 years</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>yabs-sid</td>
            <td>Session</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>webvisor/46664838</td>
            <td>Session</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>_ym_isad</td>
            <td>Session</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>_ym_metrika_enabled</td>
            <td>Session</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>_ym_uid</td>
            <td>2 years</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>metrika_enabled</td>
            <td>Session</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>_ym_visorc_46664838</td>
            <td>Session</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>previousUrl</td>
            <td>Session</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>_ym_metrika_enabled_4666483</td>
            <td>Session</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>tildauid</td>
            <td>3 months</td>
            <td>Marketing cookie</td>
        </tr>
        <tr>
            <td>http://selfreboot.camp/</td>
            <td>tildasid</td>
            <td>session</td>
            <td>Marketing cookie</td>
        </tr>
        </tbody>
    </table>

    <h4>What can you do if you don't want cookies to be set or want them to be removed.</h4>

    <p>Most browsers accept cookies automatically, however some people prefer not to allow cookies. You may change the
        security settings of your web browser in order to stop your device receiving and storing cookies, to allow
        receiving and storing cookies from selected websites you trust, or to be notified before receiving cookies. You
        may also delete cookies stored in your browser at any time. Information stored in such cookies will be removed
        from your device. However, that these settings may have negative effects on the web sites usability.</p>
    <p>Browser manufacturers usually provide help pages relating to cookie management in their products. Please see
        below for more information:</p>
    <ul>
        <li>Google: <a href="https://support.google.com/chrome/answer/95647?hl=en-GB" target="_blank">https://support.google.com/chrome/answer/95647?hl=en-GB</a>
        </li>
        <li>Internet Explorer: <a href="https://support.microsoft.com/en-us/help/260971/description-of-cookies"
                                  target="_blank">https://support.microsoft.com/en-us/help/260971/description-of-cookies</a>
        </li>
        <li>Mozilla Firefox: <a
                href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer"
                target="_blank">https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer</a>
        </li>
        <li>Safari (Desktop): <a href="https://support.apple.com/kb/PH5042?locale=en_US" target="_blank">https://support.apple.com/kb/PH5042?locale=en_US</a>
        </li>
        <li>Safari (Mobile): <a href="https://support.apple.com/en-us/HT201265" target="_blank">https://support.apple.com/en-us/HT201265</a>
        </li>
        <li>Android Browser: <a
                href="https://support.google.com/nexus/answer/54068?visit_id=1-636585517588941681-639659396&hl=en&rd=1"
                target="_blank">https://support.google.com/nexus/answer/54068?visit_id=1-636585517588941681-639659396&hl=en&rd=1</a>
        </li>
        <li>Opera: <a href="https://www.opera.com/help" target="_blank">https://www.opera.com/help</a></li>
        <li>Opera Mobile: <a href="https://www.opera.com/help/mobile/android#privacy" target="_blank">https://www.opera.com/help/mobile/android#privacy</a>
        </li>
    </ul>

    <p>For other browsers, please consult the documentation that your browser manufacturer provides.</p>

    <p>You may opt-out of third party cookies from Google Analytics on its website.</p>

    <p>You can opt out of interest-based targeting provided by participating ad servers through the Digital Advertising
        Alliance (http://youradchoices.com). In addition, on your iPhone, iPad or Android, you can change your device
        settings to control whether you see online interest-based ads.</p>

    <h2>Social media features and widgets</h2>

    <p>Our Website might include certain Social Media features and widgets, such as the “Facebook Like”, “Facebook
        Share”, “Facebook Pixel” “Instagram Follow”, “Twitter Tweet”, “Google +1”, Telegram features, buttons or other
        interactive mini-programs (“Social Media Features”). These Social Media Features may collect information such as
        your IP address or which page you are visiting on our Website, and may set a cookie to enable them to function
        properly. Social Media Features are either hosted by a third party or hosted directly on our Website. Please be
        aware that if you choose to interact or share any Personal Information via such widgets, you are in fact
        providing it to these third parties and not to us. Your interactions with these third parties are managed by
        these Social Media policies and not ours. For example, you will not be able to use the “Facebook Like” button if
        you are not logged in to your Facebook account. Once you use the button this will be associated with your
        Facebook history, but we will not process this information.</p>

    <h2>Information we might obtain from third parties</h2>

    <p>We might obtain some non-personally identifiable information from third parties, for example when you register
        with Facebook login we obtain access to your first name and last name, profile picture and other public
        info.</p>

    <p>We protect data obtained from third parties according to the practices described in this statement, plus any
        additional restrictions imposed by the source of data.</p>

    <p>We might insert advertising on our partner websites, social networks or Advertising networks who might categorize
        website visitors with similar characteristics or interests into non-personally identifiable data segments and
        offer these segments to their own clients, visitors and subscribers. For example, if a person expresses an
        interest in cryptocurrency or beauty products, they might see an advertising banner linking to similar service
        provider company web site.</p>

    <p>We might obtain and record information that an ad was requested or shown, how many times, the target geography of
        the ad (which will not include an IP address or specific personally identifiable location and any user
        interactions with the ad or the page where the ad appears. This information is used for analysis, reporting and
        troubleshooting.</p>
    <p>We do not perform any visitors profiling activities.</p>

    <h2>Where do we store your information?</h2>

    <p>We take Client confidentiality and security very seriously. We are committed to protecting the Personal Data you
        share with us. We use a combination of industry-standard security technologies, procedures, and organizational
        measures to help protect your Personal Data from unauthorized access, use or disclosure.</p>
    <p>The data processing consisting in hosting provider services (storage and maintenance of databases containing your
        personal data, protected by password) is performed inside the European Union area.</p>

    <p>The written agreements with the data processor guarantees that the requirements of the GDPR will be met and the
        rights of data subjects are protected. The Data Processor will only act on behalf of our documented
        instructions, have direct responsibilities under the GDPR and may be subject to fines or other sanctions if they
        don’t comply.</p>

    <p>Once this contract is concluded, data processor will return data to us or transmit to another processor appointed
        by us, and erase any copy in its possession. However, the processor may keep the data locked to address possible
        administrative or jurisdictional responsibilities.</p>

    <h2>Data retention</h2>

    <p>Unless otherwise specified, where you have indicated to us that you are happy for us to send you the information
        about goods and services we offer and we feel may interest you or similar to those that you have already
        purchased or enquired about do so, we assume you are happy for us to keep your collected personal data. We may
        retain your Personal Information (contact details) for as long as your User Account is active or as otherwise
        needed to provide you with information our Services. As the data subject you have rights related to processing
        of your personal data and the option of withdrawing your consent to receive promotions at any time. Please see
        paragraph “Your rights”.</p>

    <h3>Special categories data</h3>

    <p>We will keep your special categories data during the performance of the contract between you and us or during the
        communication process related to the steps prior to entering a prospective verbal or written contract.</p>

    <p>If you withdraw your consent for processing prior to enter in contract or receive any service from us, we will
        destroy all your special categories data and erase any copy in our possession.</p>

    <p>If we enter in a contract or you receive any service from us, we will continue to retain such Personal
        Information even after the contract between parties terminates, as reasonably necessary to comply with our legal
        obligations or to protect our legitimate interests if applicable (Please see paragraph “Lawful basis and the
        purposes of the processing (Uses made of your personal information)”). We will use reasonable endeavours to
        ensure your data is maintained and up-to-date. As a data subject you have rights related to maintenance, storage
        and processing of your personal data. You will have the right to restrict or object processing if you wish us to
        stop processing your data. Please see paragraph “Your rights”.</p>

    <h2>Lawful basis and the uses made of your personal information</h2>

    <p>We process all personal data lawfully, fairly and in a transparent manner. We use the data we collect for the
        following basic purposes, described in more detail below:</p>
    <ol style="counter-reset: item">
        <li>To take steps at the request of the data subject prior to entering into a business relationship (oral or
            written contract) and provide you our advice services:
            <ol>
                <li>By contacting us by means specified in paragraph “Personal Data you provide us voluntarily”, we
                    assume that processing is necessary for the performance of a business relationship or service
                    requested by you, or in order to take steps prior to a service provision and therefore the lawful
                    basis is Contract and our Legitimate interests.
                </li>

                <li>We will use the provided information to operate effectively and do our best to respond to your
                    enquiry. Once you enter into a business relationship (oral or written contract) with us, we will
                    invoice our services and offer you post-sales service and loyalty if required.
                </li>
            </ol>
        </li>
        <li>Special categories data.
            <ol>
                <li>By the nature of our business, your communication with us or the data you might provide us might
                    include sensitive information or special categories data (please check the paragraph Definitions and
                    interpretation). By including special categories data in your communication you provide your
                    informed and explicit consent to the transfer, storage and processing of the such data by us. The
                    lawful basis for such processing is Contract and our Legitimate interests and the condition for
                    processing is Consent.
                </li>
            </ol>
        </li>
        <li>We might use your anonymised and non-personally identifiable data for statistical, scientific and research
            purposes. The Lawful basis for such processing is Public Task.
        </li>

        <li>We might hold your information for as long as is necessary to comply with our legal obligations and in
            accordance with our legitimate interests as a data controller after the contractual relationship between you
            and us elapses. The lawful basis for such retention is legitimate interests and Legal Obligation. As the
            data subject you have rights related to maintenance, storage and processing of your personal data. Please
            see paragraph “Your rights”.
        </li>

        <li>To send you communications, including promotional communications and advertising with your explicit consent
            or allow you to participate in interactive features of our service, when you choose to do so. The lawful
            basis for such processing is Consent.
            <ol>
                <li>If you wish not to receive such promotional e-mails, you may withdraw your consent at any time by
                    contacting us as described in paragraph “Your rights” or follow the “unsubscribe” or instructions
                    contained in the promotional communications you receive.
                </li>
            </ol>
        </li>
        <li>Website improvement. We might use your automatically collected data such as IP address and browser data for
            our Website improvement, such as:
            <ol>
                <li>To administer our site and for internal operations, including data security, troubleshooting,
                    testing, statistical and survey purposes;
                </li>

                <li>To ensure that content from our site is presented in the most effective manner for you and for your
                    device. The lawful basis for such processing is Legitimate interests.
                </li>
            </ol>
        </li>
    </ol>
    <h2>Disclosure of information to third parties</h2>

    <p>We do not rent, sell, or share personal information about you with other people or non-affiliated companies
        without your consent except to provide products or services you've requested, when we have your permission, or
        under the following circumstances:</p>

    <ul>
        <li>We may disclose your information to third parties when we reasonably believe we are obligated to do so by
            law, and in order to investigate, prevent, or take action regarding suspected or actual prohibited
            activities, including but not limited to, fraud and situations involving potential threats to the physical
            safety of any person.
        </li>

        <li>In the event we are acquired by or merged with a third party entity or undergo another change of control, we
            reserve the right to transfer information, including any PII and non-PII, to a successor entity. In this
            event, we will notify you by electronic means before information about you is transferred and becomes
            subject to a different privacy policy.
        </li>
    </ul>
    <h2>Law enforcement, legal requests and duties</h2>

    <p>We may disclose or otherwise allow others access to your Personal Information pursuant to a legal request, such
        as a subpoena, legal proceedings, search warrant or court order, or in compliance with applicable laws, if we
        have a good faith belief that the law requires us to do so, with or without notice to you. Your details may also
        be disclosed to the police and law enforcement agencies for the purpose of fraud detection, crime prevention and
        national security.</p>

    <h2>Your rights</h2>

    <p>You have the following rights in accordance with the General Data Protection Regulation:</p>
    <ul>
        <li>The right to be informed. In this privacy statement we supply you detailed information related to your
            personal data storage, maintenance and processing.
        </li>
        <li>The right to access information held about you</li>
        <li>The right to rectify your personal data if it is inaccurate, incomplete or out-of-date</li>
        <li>The right to erasure (delete or remove) your personal data</li>
        <li>The right to restrict (block) processing. When processing is restricted, we will store your personal data,
            but not further process it.
        </li>
        <li>The right to data portability which allows individuals to obtain and reuse their personal data for their own
            purposes across different services. It allows them to move, copy or transfer personal data easily from one
            IT environment to another in a safe and secure way, without hindrance to usability, applicable if It is also
            your right to receive the personal data which you have given to us, in a structured, commonly used and
            machine-readable format and have the right to transmit that data to another controller without delay from
            the current controller if the processing is based on consent or on a contract, and the processing is carried
            out by automated means.
        </li>
        <li>Rights related to automated decision making including profiling. We are not making any decisions based on
            automated processing and all the decisions are made by our specialists.
        </li>
        <li>The right to withdraw your consent (object) to direct marketing</li>
    </ul>
    <p>You can exercise your rights by contacting us at <a href="mailto:support@selfreboot.camp">support@selfreboot.camp</a> </p>

    <p>The right to lodge a complaint with a supervisory authority</p>
    <p>You have The right to lodge a complaint with a supervisory authority if you have a concern about our information
        rights practices.</p>
