<div class="text-right" style="margin-bottom: 16px; margin-top: 16px;">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-default" href="/tos/">EN</a>
        <button type="button" class="btn btn-default active">RU</button>
        <a type="button" class="btn btn-default" href="/tos-ee/">EE</a>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        Договор между вами и SELFREBOOTCAMP заключается на <a href="/tos/">английском языке</a>. Данный перевод
        предоставляется только для удобства.
    </div>
</div>

<div class="well">
    <h3>НАСТОЯЩИЙ ДОГОВОР ЯВЛЯЕТСЯ ЮРИДИЧЕСКИ ОБЯЗЫВАЮЩИМ СОГЛАШЕНИЕМ МЕЖДУ ВАМИ И SELFREBOOTCAMP.</h3>
    <h3>ЭТО - ВАЖНЫЙ ДОКУМЕНТ И ВАМ СЛЕДУЕТ ВНИМАТЕЛЬНО ЕГО ПРОЧИТАТЬ ДЛЯ ПРИНЯТИЯ РЕШЕНИЯ ОБ ИСПОЛЬЗОВАНИИ УСЛУГ
        SELFREBOOTCAMP.</h3>
    <h3>ПРОЧИТАЙТЕ ДАННЫЙ ДОГОВОР ВНИМАТЕЛЬНО.</h3>
    <h3>ЗАРЕГИСТРИРОВАВШИСЬ ВЫ ПОДТВЕРЖДАЕТЕ, ЧТО ВЫ ПРОЧИТАЛИ И ПОНЯЛИ ДАННОЕ СОГЛАШЕНИЕ И СОГЛАСНЫ БЫТЬ ЮРИДИЧЕСКИ
        СВЯЗАНЫ ИМ.</h3>
</div>

<p>У нас есть право изменять и обновлять данный договор, удалять любые его положения, добавлять новые положения и
    приложения к нему, изменять тарифы и иные суммы, подлежащие списанию в связи с вашей Учетной Записью, в любое время
    путем публикации новой редакции Договора на Вебсайте SELFREBOOTCAMP не менее чем за 5 дней до вступления новой
    редакции в силу. Мы дополнительно проинформируем вас о любых изменениях путем направления вам соответствующих
    уведомлений.</p>

<p>После получения уведомления об изменении Договора вы внимательно прочитаете новую редакцию Договора и примете новые
    условия, изложенные в нём, чтобы продолжить использование Системы SELFREBOOTCAMP и любых Услуг, предоставляемых
    Системой SELFREBOOTCAMP. В случае несогласия с новой редакцией Договора или отдельными его положениями, вы
    немедленно прекратите наши взаимоотношения без дополнительных сборов или штрафов.</p>

<p>Мы имеем право не соблюдать условие о заблаговременной публикации новой редакции Договора, если соответствующие
    изменения требуются в силу закона, либо связаны с введением новых услуг, дополнительных функций в существующие
    услуги, либо иных изменений, которые не ограничивают ваши права и не накладывают на вас дополнительных обязательств.
    В таких случаях изменения вносятся без предварительного уведомления Пользователей и изменения вступают в силу
    немедленно.</p>

<p>В случае, если в какой-то момент вы более не согласны с условиями Договора, вы немедленно прекратите наши
    отношения.</p>

<p>Вы должны понимать, что, если вы планируете закрыть вашу Учетную Запись, ваши обязательства перед нами, возникшие до
    прекращения Договора, могут продолжаться и после прекращения Договора.</p>

<p>Данный Договор остается в силе до момента закрытия вашей Учетной Записи в порядке, предусмотренном в Системе.
    SELFREBOOTCAMP также может прекратить данный Договор по любым основаниям, включая нарушение вами обязательств по
    данному Договору, с немедленным вступлением такого решения в силу.</p>

<p>Данный Договор содержит юридически обязывающие положения о процедуре рассмотрения споров, которые влияют на ваши
    права и могут быть приведены в исполнение принудительно.</p>

<p>Если только контекст не требует иного, термины, содержащиеся в данном Договоре, начинающиеся с заглавной буквы, здесь
    и далее во всех контактах и корреспонденции с вами, будут иметь значение, данное в разделе “Определения”.</p>

<h2>1. Определения</h2>

<p>Термины, содержащиеся в данном Договоре, начинающиеся с заглавной буквы, здесь и далее во всей корреспонденции с вами
    будут иметь следующие значения:</p>

<p>“Договор” означает данный Договор в редакции, действующей на конкретный день, включая все приложения к нему, политики
    и тарифы, а также формы, заполненные вами в соответствии с требованиями Системы, вне зависимости от даты и способа
    их предоставления.</p>

<p>“Applied Biochemistry Consulting O.U.” или “SELFREBOOTCAMP” означает компанию Applied Biochemistry Consulting O.U.,
    зарегистрированную в Эстонии под номером в реестре 14285667, являющуюся поставщиком услуг Системы
    SELFREBOOTCAMP.</p>

<p>“Система SELFREBOOTCAMP”, “Система” - образовательная система, которая включает в себя Услуги, любые правила,
    процедуры и инструменты, относящиеся к образовательной системе, оператором которой является Applied Biochemistry
    Consulting O.U.</p>

<p>“Услуги SELFREBOOTCAMP” или “Услуги” означают все наши продукты, услуги и любые функции, технологии и/или информацию,
    предоставляемую Системой SELFREBOOTCAMP.</p>

<p>“Интерфейс Системы” - комбинация средств, с помощью которых Пользователь использует возможности Системы и получает
    информацию о своей Учетной Записи через e-mail, Telegram или другие мессенджеры, Вебсайт SELFREBOOTCAMP и другие
    инструменты Системы.</p>

<p>“Пользователь” или “Клиент” означает физическое лицо, у которого есть Учетная Запись в Системе SELFREBOOTCAMP.</p>

<p>“Вебсайт SELFREBOOTCAMP” означает вебсайт, расположенный по адресу
    <a href="http://selfreboot.camp" target="_blank">http://selfreboot.camp</a> и его субдомены, через
    которые вы можете использовать Систему.</p>

<p>“Учетная Запись” означает аккаунт в Системе SELFREBOOTCAMP, связанный с Пользователем Системы. Учетная Запись
    используется для сохранения пищевых дневников, информации об активности, весе, сне, измерениях и иной информации,
    необходимой для программы, на которую подписан Пользователь.</p>

<p>“Протестированная Учетная Запись” - это Учетная Запись, в связи с которой была проведена идентификация Клиента и его
    тестирование в соответствии с требованиями Системы. Пользователь с Протестированной Учетной Записью имеет доступ ко
    всем услугам, имеющимся в Системе.</p>

<p>“Непротестированная Учетная Запись” - это Учетная Запись, пользователь которой не проходил идентификацию или
    тестирование в соответствии с требованиями Системы. Пользователь Непротестированной Учетной Записи может в любой
    момент пройти процедуру идентификации и, если ему не было отказано, Учетная Запись становится Протестированной.</p>

<p>“Тестирование” - это специальная процедура сбора информации о Клиенте, которая включает в себя начальное тестирование
    по правилам Системы.</p>

<p>“Мы” или “наш” относится к компании Applied Biochemistry Consulting O.U.</p>

<p>“Вы” или “ваш” во множественном или единственном числе, вне зависимости от рода и склонения, относится к физическому
    лицу, которое принимает данный Договор.</p>

<h2>2 Общие условия</h2>

<p>2.1. Наши отношения с Пользователем описываются в данном Договоре и регулируются им. Данный Договор применяется к
    использованию вами Системы SELFREBOOTCAMP и любых Услуг, предоставляемых Пользователю Системой.</p>

<p>2.2. Система SELFREBOOTCAMP предоставляет Пользователям обучающие материалы по биохимии, анатомии, физиологии,
    биологии и другим предметам, относящимся к функционированию тела человека. На основе предоставляемой Пользователем
    информации и отслеживания её изменений мы предлагаем рекомендации по диете.</p>

<p>2.3. Предоставляемые Услуги ни в коем случае не являются медицинскими услугами, использование Услуг ни в коем случае
    не создает между сторонами отношений врач-пациент и не заменяет профессиональный медицинский уход.</p>

<p>2.4. Если вы используете услуги провайдеров Интернета, сотовых операторов, почтовой службы или иные подобные услуги
    для получения доступа к Услугам, вы самостоятельно несете все расходы, связанные с использованием таких поставщиков
    услуг, включая плату за смс, пересылку информации и так далее. Ни один из таких поставщиков услуг для вас не связан
    с поставщиками Системы SELFREBOOTCAMP.</p>

<p>2.5. Applied Biochemistry Consulting O.U. - независимый поставщик услуг по дополнительному образованию и не является
    вашим агентом или представителем. Мы не контролируем и не несем ответственность за продукты и услуги, приобретаемые
    на основании предоставленной нами информации, и не несем ответственность за исполнение обязательств по сделкам, в
    которые вы вступили на основании предоставленной информации. Упоминание любых продуктов, услуг, ссылки на сайты
    третьих лиц или указание с использованием фирменного наименования, торговых марок, поставщиков не является и не
    подразумевает поддержку, спонсорство или рекомендацию нами или лицами, привлеченными нами. Они упоминаются только
    для удобства. Только вы сами отвечаете за выбор вами поставщиков и несете все риски неисполнения ими обязательств.
    Мы не несем ответственность за мошеннические или недобросовестные действия, совершенные лицами, с которыми вы имеете
    дело.</p>

<p>2.6. SELFREBOOTCAMP не является медицинским учреждением. Услуги, предоставляемые SELFREBOOTCAMP или его сотрудниками,
    не являются врачебной консультацией или планом лечения и не предполагаются в качестве замены консультации с
    квалифицированным медицинским специалистом. Не меняйте свой план лечения самостоятельно, без консультации с
    соответствующим лечащим врачом.</p>

<p>2.7. Деятельность Applied Biochemistry Consulting O.U. не относится к медицинской деятельности с точки зрения
    применимого права.</p>

<p>2.8. Данный Договор применяется только к Услугам, которые присутствуют в Системе и на которые вы подписаны. Любые
    условия Договора, касающиеся Услуг, поименованных в Договоре, но не присутствующих в Системе, либо услуг, на которые
    вы не подписаны, вступают в силу только с момента появления этих Услуг в Системе и/или вашей подписки на них.</p>

<p>2.9. Applied Biochemistry Consulting O.U. имеет право по своему усмотрению установить правила введения Услуг, которых
    ранее не было, либо отказаться от их внедрения. Также у нас есть право отказаться от предоставления каких-либо
    определенных, либо всех Услуг.</p>

<p>2.10. Услуги активируются в Учетной Записи при условии, что остаток денежных средств достаточен для оплаты
    соответствующих тарифов и комиссий Системы, а также оплаты иных расходов, с ними связанных, при наличии таковых. В
    случае предоставления в Учетной Записи функции вывода денежных средств, сумма такого вывода не должна превышать
    остаток, Система не предоставляет Пользователям займы или овердрафты.</p>

<p>2.11. При хранении записей, связанных с вашей Учетной Записью, SELFREBOOTCAMP действует от вашего имени. Вы понимаете
    и соглашаетесь, что (1) вы отвечаете за точность и релевантность всей информации, которую вы предоставляете, (2)
    предоставление недостоверной или нерелевантной информации может привести к отзыву вашего доступа к Системе
    SELFREBOOTCAMP, (3) мы не несем ответственность за любые неточности в предоставленной вами информации, как и за то,
    что информация, которую вы предоставили через Систему SELFREBOOTCAMP, устарела.</p>

<h2>3. Учетная Запись и процедура её открытия</h2>

<p>3.1. Учетная Запись может быть зарегистрирована sui juris совершеннолетним дееспособным физическим лицом. Создавая
    Учетную Запись вы понимаете и гарантируете, что вы действуете от своего имени и в своих интересах. Вы обязуетесь
    использовать Учетную Запись только лично для себя.</p>

<p>3.2. Соглашаясь с условиями данного Договора, вы разрешаете нам самостоятельно или с привлечением третьих лиц изучать
    представленную информацию, как мы считаем необходимым, для предоставления более подходящих образовательных
    материалов, а также для повышения точности информации, которую мы предоставляем вам по запросу. Кроме того, вы
    соглашаетесь и разрешаете использовать предоставленную вами информацию для целей статистики и исследований, при
    условии соблюдения процедур анонимизации. Во избежание сомнений, анонимизация в предыдущем предложении означает, что
    в базе данных, используемой для целей статистики и исследований, ваше имя, фотографии, контактная информация,
    платежная информация и другие персональные данные, то есть данные которые можно разумно соотнести с конкретным
    лицом, напрямую или путем логических умозаключений, будут либо удалены (см.
    <a href="https://en.wikipedia.org/wiki/Null_(SQL)" target="_blank">https://en.wikipedia.org/wiki/Null_(SQL)</a>
    для сведения), либо не будут экспортированы из вашего профиля вовсе.
    Для более общей информации об анонимизации, пожалуйста, смотрите здесь:
    <a href="https://en.wikipedia.org/wiki/Data_anonymization">https://en.wikipedia.org/wiki/Data_anonymization</a>.</p>

<p>3.3. Решение об активации Учетной Записи принимается нами после:<br/>
    (i) Тестирования на основании документов и/или информации, предоставленной вами,<br/>
    (ii) а также на основании информации, которую мы, в соответствии с настоящим Договором, имеем право собирать
    самостоятельно,<br/>
    и<br/>
    (iii) после того как нами был получен надлежащий платеж от вас. Платеж состоит из установочной комиссии и стоимости
    участия. Установочный платеж не подлежит возврату. Стоимость участия может быть возмещена пропорционально
    неиспользованному периоду в случае прекращения Договора.<br/>
    Вы будете уведомлены о размере установочного платежа и стоимости участия через интерфейс до выполнения
    платежа.<br/>
    Компания Applied Biochemistry Consulting O.U. имеет полное право отказать в открытии Учетной записи или прекратить
    данный Договор и закрыть вашу Учетную Запись без объяснения причин, при условии, что обязательства по возврату
    средств, если они есть, выполнены.</p>

<p>3.4. После получения от Системы уведомления об открытии вашей Учетной Записи, вы имеете право использовать Услуги,
    доступные для вашего аккаунта, в соответствии с правилами Системы.</p>

<p>3.5. Учетная Запись оплачивается и активируется на период в восемь недель, если не указано иное. После истечения
    периода, на который Учетная Запись была активирована, Пользователь обязуется оплатить стоимость продления Услуг,
    установленную на тот момент. Во избежание сомнений, если стоимость за предыдущий период отличается от стоимости за
    текущий период, должна быть оплачена стоимость последнего.</p>

<p>3.6. Если Пользователь нарушает правила Системы, определенные в разделе 4 данного Договора, ему может быть отказано в
    продлении Услуг. В этом случае, будут применены правила о прекращении Договора.</p>

<h2>4. Использование Учетной Записи</h2>

<p>4.1. Пользователь имеет возможность ежедневно предоставлять Системе следующую информацию:<br/>
    (A) Пищевые дневники;<br/>
    (B) Дневники активности;<br/>
    (C) Вес;<br/>
    (D) Данные о сне.</p>

<p>4.2. Пользователь имеет возможность раз в две недели предоставлять Системе следующую информацию:<br/>
    (A) Сравнительные фотографии для отслеживания динамики изменений Пользователя;<br/>
    (B) Таблицы замеров, на основе образца, размещенного на Вебсайте на соответствующую дату;</p>

<p>4.3. Пользователь имеет право запросить дополнительные разъяснения, задать вопросы и предоставить обратную связь по
    необходимости. Скорость получения ответа зависит от загрузки команды, но мы принимаем на себя обязательство отвечать
    не позднее, чем через 24 часа после получения запроса. Для целей предыдущего предложения учитываются только часы в
    течение рабочих дней; в течение праздников и выходных мы можем отвечать по нашему усмотрению. Для данного
    взаимодействия надлежащим каналом связи является Telegram канал, указанный на Вебсайте.</p>

<p>4.4. Вы понимаете, что ответ на часть вопросов и получение любых персональных рекомендаций требует анализа пищевых дневников
  или других данных Пользователя. Мы берем на себя обязательство дать ответ на такой вопрос только при наличии этих данных в Системе.
  Вы соглашаетесь с тем, что ответы на вопросы, требующие пищевых дневников, не получат ответа без этих дневников. Вы соглашаетесь
  с тем, что индивидуальные рекомендации по достижению цели будут даны только при наличии требуемой информации.</p>

<p>4.5. Мы не проверяем точность и релевантность всей предоставленной вами информации, включая вес, данные о
    сне, таблицы замеров, сравнительные фотографии и любую другую информацию, требуемую Системой.
    Вы понимаете, что эта информация обрабатывается нами "как есть".</p>

<p>4.6. Если Пользователю рекомендовано пройти определенное медицинское обследование, точность предоставляемых нами рекомендаций
  зависит от его результатов. Вы соглашаетесь, что рекомендации без предоставленных результатов могут быть неточны.</p>

<h2>5. Интеллектуальная Собственность</h2>

<p>5.1. Вы понимаете, что все права на интеллектуальную собственность, включая права на торговый знак SELFREBOOTCAMP,
    любые другие торговые знаки или наименования, авторские права, другие права (“права на интеллектуальную
    собственность”), которые используются или упомянуты на Вебсайте SELFREBOOTCAMP, являются и остаются исключительной
    собственностью Applied Biochemistry Consulting O.U.</p>

<p>5.2. Все заголовки страниц, нестандартные графические изображения, иконки и значки (наборы символов) являются знаками
    обслуживания, торговыми знаками или элементами фирменного стиля Applied Biochemistry Consulting O.U. Вы не имеете
    права копировать, подражать или использовать эти элементы и другие объекты интеллектуальной собственности без
    предварительного письменного согласия правообладателя. Вы можете использовать регистрационные HTML данные,
    предоставленные SELFREBOOTCAMP или в аффилированных программах без предварительного письменного согласия для целей
    определения адреса для доступа к Услугам SELFREBOOTCAMP, но строго в соответствии с правилами SELFREBOOTCAMP и/или
    аффилированных программ. Вы не имеете права вносить изменения в регистрационные HTML данные, использовать их
    способами дискредитирующими SELFREBOOTCAMP или Услуги SELFREBOOTCAMP, либо демонстрировать их способом, влияющим на
    финансовое состояние, либо репутацию SELFREBOOTCAMP. Все права, наименования, правовые интересы в или на Вебсайте
    SELFREBOOTCAMP, содержание Вебсайта, Услуги SELFREBOOTCAMP, технологии, относящиеся к Услугам SELFREBOOTCAMP, и все
    и любые другие технологии и контент созданный на основе, либо извлеченный из любого из упомянутых объектов -
    исключительная собственность SELFREBOOTCAMP и его лицензиаров.</p>

<p>5.3. Вы обязуетесь, что вы не будете пытаться изменить, взломать, декомпилировать, получить неавторизованный доступ,
    либо иным образом вмешиваться в наше программное обеспечение или Вебсайт SELFREBOOTCAMP. Вы понимаете, что мы можем
    немедленно закрыть вашу Учетную Запись и подать против вас судебный иск, если вы нарушите, либо если у нас будут
    основания полагать, что вы нарушили, данное обязательство.</p>

<h2>6. Обмен информацией. Коммуникации.</h2>

<p>6.1. Основной способ коммуникации между вами и нами в связи с использованием Системы - через инструменты,
    представленные в Интерфейсе Системы. Мы можем отказаться принимать от вас сообщения или информацию, если инструменты
    для их отправки имеются в Интерфейсе Системы, но они отправлены нам иным способом. Вы соглашаетесь, что все
    электронные сообщения могут быть записаны и сохранены нами.</p>

<p>6.2. Все ваши уведомления и сообщения, если они не поддерживаются непосредственно в Интерфейсе Системы, должны быть
    отправлены нам по контактам и каналам, указанным на Вебсайте SELFREBOOTCAMP.</p>

<p>6.3. Мы имеем полное право не рассматривать и игнорировать любые сообщения и уведомления, направленные вами с
    нарушением пп. 6.1 и 6.2 настоящего Договора. Вы несете все риски, связанные с нарушением правил взаимодействия с
    Системой.</p>

<p>6.4. Мы и наши поставщики, действующие по нашей инструкции, могут вступать с вами в контакт посредством
    автоматических или заранее записанных сообщений по телефонному номеру (номерам), которые вы нам предоставили, либо с
    помощью e-mail указанного вами при регистрации Учетной Записи. Такие сообщения могут относиться к (a) уведомлениям,
    направленным вам, (b) предотвращение мошенничества, (c) взысканию задолженности. Мы не передаем ваши телефонные
    номера третьим лицам для использования ими в собственных целях без вашего согласия, за исключением поставщиков, с
    которыми мы вступили в договор о соответствующей технической поддержке Услуг SELFREBOOTCAMP. Такие уведомления
    считаются полученными вами в день их отправки.</p>

<p>6.5. Уведомления и любые другие документы, связанные с судебными претензиями или досудебным разрешением споров с
    SELFREBOOTCAMP, должны быть отправлены почтой Управляющему директору по адресу, указанному на Вебсайте
    SELFREBOOTCAMP.</p>

<p>6.6. Мы можем направлять вам сообщения или уведомления посредством инструментов Интерфейса Системы, а также по почте,
    по телефону, факсу, Интернету и других электронных средств коммуникации, по всем известным нам адресам.</p>

<h2>7. Поведение пользователей</h2>

<p>7.1. Вы понимаете и соглашаетесь с тем, что не будете выполнять следующие действия:<br/>
    A) Использовать Систему для ведения бизнеса без нашего предварительного письменного согласия;<br/>
    B) Использовать Систему для незаконных или поддельных товаров и услуг, включая запрещенные вещества, поддельные
    потребительские товары / товары нарушающие права на интеллектуальную собственность, краденное, вещества, оборот
    которых ограничен, либо опасные для потребителей, любые формы отмывания денежных средств, и любые прочие незаконные
    виды деятельности;<br/>
    C) Предоставлять SELFREBOOTCAMP ложную или некорректную информацию, включая попытки мошенничества с личностью,
    например, при указании ложной платежной информации, предоставление поддельных документов, фотографий или
    сканов;<br/>
    D) Посредством обмана или искажения информации лишение SELFREBOOTCAMP или других Клиентов денежных средств;<br/>
    E) Попытки получить или получение необоснованного дохода за счет ошибочного платежа от SELFREBOOTCAMP или вашего
    банка или другого лица;<br/>
    F) Вести деятельность, которая, по мнению SELFREBOOTCAMP и его партнеров, может привести к высоким рискам, связанным
    с вами, вашей Учетной Записью, либо любым вашим действием в Учетной Записи; либо<br/>
    G) Иным образом нарушить условия данного Договора и политик, указанных в нем.</p>

<p>7.2. Вы понимаете, что любые нарушения данного Договора, либо ваши незаконные действия могут стать причиной временной
    или постоянной блокировки вашей Учетной Записи и средств на ней, а также Услуг.</p>

<p>7.3. Вы понимаете, что любые нарушения данного Договора, либо ваши незаконные действия, если предусмотрено законом,
    могут стать причиной привлечения вас к ответственности, не исключая и уголовно-правовую ответственность.</p>

<h2>8. Закрытие Учетной Записи</h2>

<p>8.1 В соответствии с положениями данного раздела, обе стороны могут прекратить Договор в любое время и без штрафных
    санкций путем закрытия Учетной Записи средствами Системы, предусмотренными в Интерфейсе Системы.</p>

<p>8.2. После закрытия вашей Учетной Записи мы отменяем любые незавершенные транзакции, если иное не предусмотрено
    законом, и пропорционально возмещаем вам стоимость подписки. Как указано в п. 3.6 (iii) Договора, комиссия за
    установку возмещению не подлежит.</p>

<p>8.3. До закрытия вашей Учетной Записи вы должны вывести остаток средств из Системы с помощью инструментов,
    предусмотренных в Интерфейсе, за исключением случаев, когда такой платеж запрещен действующим решением суда, иного
    органа государственной власти, либо иным образом запрещен в силу закона или актов органа государственной власти. Вы
    несете ответственность за сообщение нам необходимой информации для вывода средств на банковский счет после закрытия
    Учетной Записи.</p>

<p>Вы соглашаетесь с тем, что иногда платежные интеграторы не предоставляют нам ваши платежные данные и не включают
    функции по возврату в свое программное обеспечение. В связи с этим предоставление банковских реквизитов после
    получения уведомления о закрытии вашей Учетной Записи и запуске процедуры возврата денежных средств является вашей
    обязанностью. Поскольку мы не являемся банком или иной финансовой организацией, мы не начисляем проценты на остаток
    ваших средств.</p>

<p>8.4. Если вы решите закрыть вашу Учетную Запись вы должны понимать, что после расторжения Договора вы несете
    ответственность перед нами за все обязательства, которые вы приняли на себя и за которые вы отвечали перед
    расторжением Договора.</p>

<p>8.5. Прекращение наших отношений не влияет на права, возникшие к моменту такого прекращения, на средства их правовой
    защиты, обязательства и ответственность сторон, включая право требовать возмещение убытков за нарушение Договора,
    возникшее на день прекращения или до него. Любые положения данного Договора, которые прямо или подразумеваемо
    остаются в силе после прекращения отношений, имеют полную юридическую силу.</p>

<h2>9. Безопасность</h2>

<p>9.1. Вы несете ответственность за обеспечение надлежащей безопасности паролей, идентификационных номеров (PIN) или
    любых иных кодов, которые используются для доступа к Услугам SELFREBOOTCAMP. SELFREBOOTCAMP не несет ответственность
    за любой ущерб или убытки, возникшие в связи с тем, что мы положились на ваши устные инструкции или таковые в
    электронной форме, полученные с помощью вашего пароля.</p>

<p>9.2. Если вы подозреваете, что ваш пароль стал известен постороннему лицу, вы обязаны уведомить нас немедленно.</p>

<p>9.3. Личная и конфиденциальная информация, например, ваши медицинские записи хранятся на сервере в зашифрованной
    форме с помощью специальных инструментов. Шифрование и расшифровка осуществляются с помощью ключа, извлеченного из
    вашего пароля.</p>

<p>9.4. Любой сетевой доступ к серверам SELFREBOOTCAMP защищен с помощью протокола Transport Layer Security (TLS).</p>

<p>9.5. Если вы получите e-mail, SMS, телефонный звонок или запрос в любой форме от любого, кто называет себя
    SELFREBOOTCAMP, либо представителей или другой компании в группе, содержащий запрос вашей конфиденциальной
    информации (фишинг), вы обязуетесь не предоставлять такую информацию и немедленно свяжетесь с клиентским сервисом
    SELFREBOOTCAMP. Вы не должны нажимать ни на какие ссылки в необычных e-mail сообщениях или скачивать вложения из
    таких источников.</p>

<p>9.6. SELFREBOOTCAMP никогда не запрашивает ваш пароль в e-mail сообщении или по телефону. В случае получения таких
    запросов, вы обязуетесь немедленно связаться с нами и проинформировать нас о таких фактах..</p>

<h2>10. Разрешение споров с SELFREBOOTCAMP</h2>

<p>10.1. В случае разногласий между вами и SELFREBOOTCAMP, мы стремимся узнать ваше мнение, рассмотреть его и, если мы
    не можем принять решение, которое бы вас устроило, разрешить разногласия непредвзятым, недорогим и оперативным
    способом. Вы можете проинформировать нас о любых разногласиях между вами и SELFREBOOTCAMP в отношении Услуг
    SELFREBOOTCAMP способами, изложенными в настоящем Договоре.</p>

<p>10.2. В случае, если стороны не смогли прийти к соглашению в результате переговоров, спор будет подсуден суду уезда
    Харьюмаа, Эстония; применимым правом будет право Эстонии.</p>

<h2>11. Ограничения ответственности</h2>

<p>11.1. Ничего в данном Договоре не ограничивает и не исключает ответственность SELFREBOOTCAMP в случае смерти, травмы,
    мошенничества или умышленного искажения фактов.</p>

<p>11.2. С учетом вышеизложенного, мы (включая, для точности, нашу родительскую и аффилированные компании) и менеджмент,
    директора, агенты, сотрудники и поставщики SELFREBOOTCAMP (включая, для точности, вышеупомянутые категории в нашей
    родительской и аффилированных компаниях) ни в коем случае не отвечаем за упущенную выгоду, специальные,
    сопутствующие, косвенные, штрафные убытки (включая без ограничений убытки, возникшие в связи с потерей данных и
    потерей бизнеса) возникшие в связи с нашим Вебсайтом, Услугами или данным Договором (также включая небрежность),
    если, и до той степени, которую позволяет действующее на соответствующий момент законодательство.</p>

<p>11.3 Наша ответственность (включая, для точности, нашу родительскую и аффилированные компании) и нашего менеджмента,
    директоров, агентов, сотрудников и поставщиков перед вами или любой третьей стороной ограничена фактическим размером
    причиненных прямых убытков. Кроме того, насколько действующее законодательство это позволяет, SELFREBOOTCAMP,
    включая, для точности, нашу родительскую и аффилированные компании, и наши (или, соответственно, их) менеджмент,
    директора, агенты, сотрудники и поставщики не отвечают и вы соглашаетесь не обращать на вышеуказанные категории
    любые взыскания за любой ущерб или убытки (включая без ограничений потерю денежных средств, ущерб репутации,
    финансовые потери связанные с ним, упущенная выгода и другие нематериальные убытки, или любые специальные, косвенные
    убытки), напрямую или косвенно вызванные:<br/>
    (a) невозможностью вами использовать Вебсайт или Услуги SELFREBOOTCAMP,<br/>
    (b) задержками или перерывами в деятельности Вебсайта или Услуг SELFREBOOTCAMP,<br/>
    (c) вирусами или иным malware, полученным в результате посещения Вебсайта или использования Услуг SELFREBOOTCAMP или
    любых других вебсайтов или сервисов, которые вы посетили через ссылку на Вебсайте или в процессе получения Услуг
    SELFREBOOTCAMP,<br/>
    (d) краткосрочной неработоспособностью, ошибками или неточностями любого рода в программном обеспечении или
    аппаратных средствах на Вебсайте или в процессе получения Услуг SELFREBOOTCAMP, либо в данных или графических
    изображениях, полученных при их использовании,<br/>
    (e) материалами, действиями или бездействием третьих лиц,<br/>
    (f) приостановлением или иными действиями, предпринятыми в отношении вашей Учетной Записи,<br/>
    (g) любыми потерями, связанными со скрытыми дефектами программного обеспечения или аппаратных средств, потерями
    данных, задержками, отказами в обслуживании, ошибками, пробелами или потерями в переданной информации или
    инструкциях, перепадами электричества, перерывами в доступности Интернета, хакерскими атаками, DoS атаками, вирусами
    и иными вредными или разрушительными факторами,<br/>
    (h) любыми сборами, тарифами, налогами или потерями, связанными с кражей денежных средств после того как они были
    направлены с банковского счета SELFREBOOTCAMP,<br/>
    (i) любыми потерями, связанными с тем, что любая информация, передающаяся через Интернет не может быть в полной мере
    защищена и Интернет и иные релевантные сетевые системы могут работать с перерывами.<br/>
    Мы не отвечаем за любые потери и убытки, которые вы можете понести, если третья сторона получит доступ к вашей
    конфиденциальной информации в ходе ее передачи через Интернет.</p>

<p>11.4. SELFREBOOTCAMP не считается нарушившим Договор и не отвечает за любые потери или убытки, причиненные или
    возникшие в результате задержки в исполнении или невозможности исполнения любого обязательства по настоящему
    Договору в случае и до той степени, в какой такая задержка или неисполнение возникли в связи с форс-мажором, либо
    существенной ошибкой с вашей стороны, либо преднамеренным нарушением с вашей стороны, включая отказ сохранять свой
    пароль в секрете, либо отказ выполнять условия данного Договора или требования соответствующей политики.</p>

<p>11.5. SELFREBOOTCAMP, наши сотрудники и поставщики обеспечивают предоставление Услуг SELFREBOOTCAMP “как есть” без
    каких-либо гарантий или условий, прямых, подразумеваемых или предусмотренных законом. SELFREBOOTCAMP и наши
    сотрудники настоящим заявляют о своем отказе от каких-либо подразумеваемых гарантий в отношении прав собственности,
    коммерческой применимости, применимости для каких-либо конкретных ситуаций или отсутствия нарушения авторских
    прав.</p>

<p>11.6. SELFREBOOTCAMP не гарантирует постоянный, непрерывный и безопасный доступ к любой части Системы SELFREBOOTCAMP,
    работоспособность нашего Вебсайта находится под влиянием многих факторов, которые находятся вне нашего контроля.</p>

<p>11.7. Ни одна из сторон не считается нарушившей настоящий Договор и не может быть привлечена к ответственности за
    просрочку исполнения или неисполнение любых обязательств, вытекающих из данного Договора, если такая просрочка или
    неисполнение возникли вследствие событий, обстоятельств или причин, которые находятся вне разумного контроля
    стороны. В этом случае сторона имеет право на соразмерную отсрочку в исполнении соответствующего обязательства.</p>

<h2>12. Разное</h2>

<p>12.1. За исключением случаев, когда стороны договорились об ином, вы соглашаетесь безоговорочно подчиняться
    неисключительной юрисдикции судов Эстонии с целью проведения любых судебных исков, судебных разбирательств,
    вытекающих из настоящего Договора, использования вами Вебсайта или Услуг SELFREBOOTCAMP.</p>

<p>12.2. Наше бездействие в связи с нарушением настоящего Договора вами или третьим лицом не означает наш отказ от
    действий в случае последующих или схожих нарушений.</p>

<p>12.3. Вы несете ответственность за своевременное обновление информации, предоставленной вами, включая без ограничений
    ваш e-mail и почтовый адрес, телефонный номер и другую информацию. Вы несете все негативные последствия, связанные с
    вашим неисполнением обязательств предоставлять сведения о любых изменениях.</p>

<p>12.4. Вы понимаете и соглашаетесь, что вы не имеете права иметь несколько Учетных Записей.</p>

<p>12.5. Вы соглашаетесь компенсировать убытки и освобождаете SELFREBOOTCAMP, его менеджмент, директоров, сотрудников от
    ответственности за любые убытки и по любым искам (включая оплату юридических услуг), возникшим у любых лиц по
    причине или в результате нарушения вами настоящего Договора и/или использования вами Услуг SELFREBOOTCAMP.</p>

<p>12.6. В случае возникновения у вас спора с одним или несколькими Пользователями, вы обязуетесь освободить
    SELFREBOOTCAMP (и наш менеджмент, директоров, сотрудников и агентов) от ответственности по любым требованиям, искам
    или убыткам (прямых или косвенных) любого вида, возникшим в связи или связанным с такими спорами.</p>

<p>12.7. Если ваши средства арестованы или подлежат налогообложению в соответствии с законодательством Эстонии, мы будем
    обязаны исполнить соответствующие требования. Вы не будете выдвигать каких-либо требований в связи с исполнением
    нами таких требований, обязательных для нас в силу закона.</p>

<p>12.8. Вы обязаны оплатить все суммы, подлежащие оплате в соответствии с данным Договором в полном объеме без вычетов
    и удержаний, за исключением случаев, предусмотренных законом, и вы не имеете права требовать зачет или предъявлять
    встречное требование в адрес SELFREBOOTCAMP в обоснование неплатежа или с целью оспаривания платежа на
    соответствующую сумму, полностью или в части.</p>

<p>12.9. SELFREBOOTCAMP может без ущерба для своих прав и доступных средств правовой защиты зачесть любую сумму, которую
    вы обязаны оплатить (в том числе аффилированным компаниям) и сумму, которую SELFREBOOTCAMP обязан оплатить вам.</p>

<p>12.10. Ваше право на конфиденциальность ваших персональных данных важно для Applied Biochemistry Consulting O.U. Если
    при использовании Услуг SELFREBOOTCAMP вы каким-либо образом получили информацию об ином лице, вы обязаны сохранять
    конфиденциальность этой информации и использовать её только в связи с использованием Услуг SELFREBOOTCAMP. Вы не
    имеете права раскрывать или распространять информацию о третьих лицах, использовать её для маркетинга, если вы не
    получили согласие на такие действия.</p>

<p>12.11. Applied Biochemistry Consulting O.U. может в любой момент передать, продать, заключить договор подряда или
    иным образом произвести отчуждение всех или некоторых своих прав по данному Договору, и может заключить договор
    подряда или делегировать, любым образом, все или некоторые свои обязательства по данному Договору любому третьему
    лицу или агенту. Вы не имеете права передать, продать, заключить договор подряда или иным образом произвести
    отчуждение всех или некоторых ваших прав или обязанностей по данному Договору без письменного согласия Applied
    Biochemistry Consulting O.U.</p>

<p>12.12. Если иное не предусмотрено правилами и процедурами Системы, вы не имеете права уполномочивать третье лицо
    использовать Учетную Запись или Услуги от вашего имени, либо передавать ему право на доступ к информации в вашей
    Учетной Записи. Вы также понимаете, что вы полностью отвечаете за последствия ваших действий, выполненных в
    нарушение данного запрета, а также за любые действия третьих лиц, которым вы предоставили доступ к Учетной Записи
    или Услугам. Кроме того, вы понимаете и соглашаетесь с тем, что SELFREBOOTCAMP освобождается от любой
    ответственности, которая может возникнуть в результате действий или бездействия третьих лиц, которым вы выдали такое
    разрешение. У нас есть полное право заблокировать вашу Учетную Запись или прекратить наши отношения в случае
    нарушения вами запрета, установленного данным пунктом Договора.</p>

<p>12.13. Данный Договор совместно с любыми применимыми политиками и соглашениями, размещенными в разделах “Legal
    Agreements” или “Terms of Service” или “Privacy” Вебсайта SELFREBOOTCAMP, содержит полный объем всех договоренностей
    между вами и SELFREBOOTCAMP в отношении Услуг.</p>

<p>12.14. Если любое положение данного Договора или его часть будет, по любой причине, признана судом или уполномоченным
    государственным органом ничтожной, недействительной, незаконной или неподлежащей принудительному исполнению, такое
    положение, насколько требуется, будет считаться удаленным и все остальные положения будут сохранять силу и считаться
    подлежащими принудительному исполнению.</p>

<p>12.15. Лица, которые не являются стороной настоящего Договора, не имеют никаких прав по нему или в связи с ним.</p>

<p>12.16. Если иное прямо не указано настоящим Договором, ничего в данном Договоре не должно трактоваться как
    партнерство или совместное предприятие любого рода между сторонами, а также не будет вести к признанию одной стороны
    агентом другой стороны для любых целей. Ни одна из сторон не имеет права действовать как агент другой стороны или
    связывать ее какими-либо обязательствами.</p>

<p>12.17. Хотя доступ к SELFREBOOTCAMP возможен из любой точки мира, не все функции, продукты и Услуги, которые описаны,
    упомянуты, представлены на Вебсайте SELFREBOOTCAMP или с его помощью, доступны всем лицам во всем мире.
    SELFREBOOTCAMP сохраняет за собой право по своему усмотрению ограничить доступ к любой функции, продукту или услуге
    любому лицу или в любом месте. Любое предложение любой функции, любого товара или услуги, опубликованной на Вебсайте
    SELFREBOOTCAMP считается отмененным на территории, на которой она запрещена.</p>

<p>12.18. Стороны данного Договора согласны, что данный Договор и любые сопутствующие документы будут написаны на
    английском языке.</p>

<p>12.19. Несмотря на любое иное положение данного Договора, любой перевод настоящего Договора предоставляется
    исключительно для вашего удобства. Значение терминов, условий и требований в тексте данного Договора соответствует
    таковым в английском языке. Любой перевод может неточно передавать исходную информацию на английском языке.</p>
