<div class="text-right" style="margin-bottom: 16px; margin-top: 16px;">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-default" href="/tos/">EN</a>
        <a type="button" class="btn btn-default" href="/tos-ru/">RU</a>
        <button type="button" class="btn btn-default active">EE</button>
    </div>

</div>

<div class="well">
    <h3>KÄESOLEV LEPING ON ÕIGUSLIKULT SIDUV LEPING TEIE ENDA JA SELFREBOOTCAMPI VAHEL.</h3>

    <h3>SEE ON OLULINE DOKUMENT, MILLE PEATE HOOLIKALT LÄBI LUGEMA, ET LANGETADA OTSUS SELFREBOOTCAMPI TEENUSTE
        KASUTAMISE KOHTA.</h3>

    <h3>LUGEGE KÄESOLEV LEPING HOOLIKALT LÄBI, MÄRKIDES SEEJUURES, ET KINNITATE, ET OLETE KÄESOLEVA LEPINGU LÄBI
        LUGENUD JA SELLEST ARU SAANUD NING NÕUSTUTE END KÄESOLEVAGA SELLEGA SIDUMA.</h3>
</div>

<p>Meil on õigus mis tahes ajal muuta ja värskendada käesolevat lepingut, kustutada selle mis tahes tingimusi, teha
    selles täiendusi ja võtta vastu selle uusi lisasid ning muuta seoses teie Kasutajakontoga nõutavaid tasusid ja muid
    summasid, avaldades Lepingu uue versiooni SELFREBOOTCAMPi veebisaidil vähemalt 5 päeva enne seda, kui uus versioon
    jõustub. Me teavitame teid täiendavalt mis tahes muudatustest, saates teile asjakohased teavitused.</p>
<p>Kui te saate kätte teavituse Lepingu muutmise kohta, peate Lepingu uue versiooni läbi lugema ning nõustuma selles
    sätestatud uute tingimustega, et teil oleks võimalik jätkata SELFREBOOTCAMPi Süsteemi ja kõigi SELFREBOOTCAMPi
    Süsteemi poolt pakutavate Teenuste kasutamist. Kui te ei nõustu Lepingu uue versiooni või selle mis tahes osadega,
    lõpetate viivitamatult meievahelise suhte ilma mis tahes täiendavate tasude või trahvide maksmise kohustuseta.</p>
<p>Meil on õigus lühendada Lepingu uue versiooni eelneva avaldamise tähtaega, kui vastavad tasud on seadusega ette
    nähtud või seotud uute teenuste, olemasolevate Teenuste täiendavate funktsioonide või muude funktsioonide kasutusele
    võtmisega, mis ei pruugi piirata teie õigusi ega laiendada teie vastutusmäärasid. Nendel juhtudel tehakse muudatused
    ilma Kasutajaid eelnevalt teavitamata ja need jõustuvad koheselt.</p>
<p>Kui te ei nõustu mis tahes ajal enam nende tähtaegade või muude tingimustega, lõpetate viivitamatult meievahelise
    suhte.</p>
<p>Kui te kavatsete oma Kasutajakonto sulgeda, peate saama aru saama, et te võite olla pärast käesoleva Lepingu
    lõpetamist meie ees vastutavad mis tahes omapoolsete tekkinud kohustuste ja enne käesoleva Lepingu lõpetamist
    täitmisele kuulunud kohustuste täitmise eest.</p>
<p>Käesolev Leping jääb jõusse kuni teie Kasutajakonto sulgemiseni kooskõlas Süsteemi poolt nõutud protseduuridega.
    SELFREBOOTCAMP võib käesoleva Lepingu mis tahes põhjustel lõpetada, sh käesoleva lepingu tingimuste teiepoolne
    rikkumine, misjuhul vastav lõpetamine jõustub viivitamatult.</p>

<p>Käesolev Leping sisaldab õiguslikult siduvat sätet vaidluste lahendamise korra kohta, mis mõjutab teie seaduslikke
    õigusi ja mille täitmiseks võidakse rakendada sundtäitmist.</p>
<p>Tekstis kasutatud suure algustähega mõisteid kasutatakse käesolevas dokumendis ning meie edaspidises suhtluses ja
    kirjavahetuses teiega, v.a juhtudel, kus seda nõuab kontekst, alljärgnevas tähenduses, mida on täiendavalt
    kirjeldatud jaotises „Määratlused“.</p>

<h2>1. Määratlused</h2>
<p>Alljärgnevaid suure algustähega algavaid mõisteid kasutatakse käesolevas Lepingus ning meie edaspidises
    kirjavahetuses teiega järgnevas tähenduses:</p>
<p>„Leping“ – käesolev konkreetsel päeval kehtiv Leping, sh selle mis tahes lisad, põhimõtted ja tasud ning kõik teie
    poolt kooskõlas Süsteemi nõuetega täidetud vormid, hoolimata nende esitamise ajast ja viisist.</p>
<p>„Applied Biochemistry Consulting OÜ“ või „SELFREBOOTCAMP“ – Applied Biochemistry Consulting OÜ on Eestis
    registreeritud ettevõte registrikoodiga 14285667, mis on SELFREBOOTCAMPi Süsteemi teenusepakkuja.</p>
<p>„SELFREBOOTCAMPi Süsteem“, „Süsteem“ – hariduslik süsteem, mis hõlmab Teenuseid, mis tahes eeskirju, protseduure ja
    instrumente, mis on seotud haridussüsteemiga, mille pakkujaks on Applied Biochemistry Consulting OÜ.</p>
<p>„SELFREBOOTCAMPi Teenused“ või „Teenused“ – kõik meie tooted, teenused ja mis tahes funktsioonid, tehnoloogiad ja/või
    teave, mida pakub SELFREBOOTCAMPi Süsteem.</p>
<p>„Süsteemiliides“ – kombinatsioon töövahenditest, mille abil Kasutaja kasutab Süsteemi funktsioone ja saab teavet oma
    Kasutajakontole e-posti, Telegrami või muude sõnumiteenuste, SELFREBOOTCAMPi Veebisaidi ja Süsteemi muude
    töövahendite kaudu.</p>
<p>„Kasutaja“ või „Klient“ – üksikisik, kellel on Kasutajakonto SELFREBOOTCAMPi Süsteemis.</p>
<p>„SELFREBOOTCAMPi Veebisait“ – veebisait https://selfreboot.camp ja selle alamdomeenid, mille kaudu te saate samuti
    Süsteemi kasutada.</p>
<p>„Kasutajakonto“ – Süsteemi Kasutajaga seotud konto SELFREBOOTCAMPi Süsteemis. Kasutajakonto on mõeldud
    toitumispäeviku teabe, tegevuste, kaalu, unejälgimisteabe, mõõtmisteabe ja muu teabe salvestamiseks, mis on nõutud
    vastavalt Kasutaja poolt tellitud programmile.</p>
<p>„Kontrollitud Konto“ – Kasutajakonto, millega seoses on viidud läbi Kliendi tuvastamine ja kontrollimine kooskõlas
    Süsteemi poolt kehtestatud nõuetega. Kontrollitud Konto Kasutajal on piiramatu juurdepääs kõigile Süsteemi poolt
    rakendatud teenustele ja toimingutele.</p>
<p>„Kontrollimata Konto“ – Kasutajakonto, millega seoses ei ole viidud läbi Kliendi tuvastamist või kontrollimist
    kooskõlas Süsteemi poolt sätestatud nõuetega. Kontrollimata Konto Kasutaja võib mis tahes ajal läbida tuvastamise ja
    kontrollimise protseduuri, välja arvatud juhul kui ta taotlus lükati tagasi, pärast mida muutub nende konto
    Kontrollitud Kontoks.</p>
<p>„Kontrollimine“on eriprotseduur teabe kogumiseks Kliendi kohta ja see hõlmab Süsteemi poolt osutatud esialgse
    kontrolli läbimist.</p>
<p>„Me“ ja „meie“ osutab ettevõttele Applied Biochemistry Consulting OÜ.</p>
<p>„Te“ ja „teie“ ainsuses või mitmuses osutab üksikisikule, kes nõustub käesoleva Kasutajalepinguga.</p>

<h2>2. Üldtingimused</h2>
<p>2.1. Meie suhteid Kasutajaga on kirjeldatud käesolevas Lepingus ja neid reguleerivad käesoleva dokumendi sätted.
    Käesolevat Lepingut kohaldatakse SELFREBOOTCAMPi Süsteemi ja Kasutajale Süsteemi poolt osutatavate mis tahes
    teenuste teiepoolse kasutamise suhtes.</p>
<p>2.2. SELFREBOOTCAMPi Süsteem pakub Kasutajatele haridusmaterjale biokeemia, anatoomia, füsioloogia, bioloogia ja
    muude inimkeha toimimisega seotud teemade kohta. Kasutaja poolt esitatud teabe ja nendes toimuvate muutuste
    jälgimise põhjal esitame toitumisalased soovitused.</p>
<p>2.3. Osutatud Teenused ei kujuta endast mis tahes viisil meditsiiniteenuseid, Teenuste mis tahes viisil kasutamine ei
    vii arsti ja patsiendi vahelise suhte tekkimiseni ning need ei asenda professionaalset arstiabi.</p>
<p>2.4. Kui te kasutate internetiteenuse osutajaid, mobiilside-/lauatelefoniteenuste osutajaid, e-posti või muude
    sarnaste teenuste osutajaid mis tahes Teenuste kasutamiseks, peate kandma vastutust mis tahes tasude eest, mida
    vastavad teenusepakkujad nõuavad vastava kasutuse eest, sh maksed SMS-sõnumite, andmesideühenduse jms eest. Kõik
    vastavad teie teenusepakkujad ei ole seotud SELFREBOOTCAMPi Süsteemi teenusepakkujatega.</p>
<p>2.5 Applied Biochemistry Consulting OÜ on sõltumatu täiendhariduse pakkuja ning ei ole teie agent või volitatud
    esindaja. Meil puudub kontroll esitatud teabe põhjal tasutud toodete või teenuste üle ja me ei kanna nende eest mis
    tahes vastutust ning me ei ole vastutavad esitatud teabe põhjal tasutud tehinguga seotud kohustuste täitmise eest.
    Viited mis tahes toodetele või teenustele, kolmandate osapoolteni viivad hüperteksti lingid või muu teave kaubanime,
    kaubamärgi, tarnija või muul viisil esitatu vormis ei kujuta endast viimase toetamist, sponsoreerimist või
    soovitamist meie enda või selle avaldajate/töötajate poolt ega osuta sellele. Need on mõeldud ainult näidetena
    kasutamiseks. Te olete ainuisikuliselt vastutav oma töövõtjate valimise eest ning peate kandma kogu riisikot
    nendepoolse kohustuste mittetäitmise eest teie ees. Me ei kanna mis tahes vastutust mis tahes pettuste või
    pahausksete tegude eest, mille panid toime isikud, kellega te tehinguid teete.</p>
<p>2.6. SELFREBOOTCAMP ei ole meditsiiniasutus. SELFREBOOTCAMPi või selle töötajate poolt osutatud Teenuseid ei tohi
    käsitleda meditsiiniliste nõuannete või haiguse ohjamise kavana ning need ei ole mõeldud kvalifitseeritud
    meditsiinitöötajaga konsulteerimise asendamiseks. Ärge muutke iseseisvalt oma haiguse ohjamise kava ilma oma
    asjaomase raviarstiga konsulteerimata.</p>
<p>2.7. Applied Biochemistry Consulting OÜ tegevus ei kujuta endast õiguslikus mõttes meditsiiniteenuseid.</p>
<p>2.8. Käesolevat Lepingut kohaldatakse ainult nende Teenuste suhtes, mida rakendatakse Süsteemis ja mida te tellite.
    Kõiki Lepingus sisalduvaid tingimusi, mis puudutavad selles nimetatud Teenuseid, kuid mida tegelikult Süsteemis ei
    rakendata, või teenuseid, mida te ei kasuta, jõustuvad ainult nende rakendamisel Süsteemis ja/või nende tellimisel
    teie poolt.</p>
<p>2.9. Applied Biochemistry Consulting OÜ-l on õigus oma äranägemise järgi määrata rakendamata teenuste kasutusele
    võtmise tähtajad või keelduda nende rakendamisest. Meil on samuti õigus keelduda konkreetsete või kõigi teenuste
    osutamisest.</p>
<p>2.10. Kasutajakontol olevad Teenused aktiveeritakse tingimusel, et sellel olevate vahendite jääk on piisav Süsteemi
    asjakohaste tasude ja komisjonitasude maksmiseks ning samuti muude nende täideviimisega seotud kulude maksmiseks,
    kui neid peaks esinema. Kui on lubatud Kasutajakontolt vahendite väljamaksmise funktsioon, ei ole lubatud ületada
    sellel olevat jääki; Süsteem ei anna Kasutajatele laene või arvelduskrediiti.</p>
<p>2.11. SELFREBOOTCAMP toimib teie nimel, säilitades teie Kasutajakontoga seotud andmeid. Te saate aru ja nõustute
    sellega, et (1) te olete vastutav kogu teie poolt esitatud teabe täpsuse ja asjakohasuse eest, (2) teiepoolne
    suutmatus esitada täpset ja asjakohast teavet võib viia juurdepääsu tühistamiseni SELFREBOOTCAMPi Süsteemile, (3) me
    ei kanna vastutust teie poolt SELFREBOOTCAMPi Süsteemi kaudu esitatud mis tahes ebatäpse või aegunud teabe eest.</p>
<h2>3. Kasutajakonto ja selle avamise kord.</h2>
<p>3.1. Konto võivad avada täiskasvanud õigusvõimelised eraisikud, kellel on õigus lepinguid sõlmida. Meie juures Konto
    loomisega mõistate täielikult ja tagate meile, et te toimite ainult enda nimel ja enda huvides. Te olete kohustatud
    kasutama Kontot ainult isiklikuks hüvanguks.</p>
<p>3.2. Nõustudes käesoleva Lepingu tingimustega, annate meile volitused uurida esitatud teavet otseselt või kolmandate
    osapoolte abil meie poolt vajalikuks peetaval viisil ja ulatuses, et pakkuda paremini sobivaid haridusmaterjale ja
    muuta meie poolt nõudmisel esitatavat teavet täpsemaks. Samuti nõustute oma teabe kasutamisega statistilistel ja
    teadusuuringutega seotud eesmärkidel ja annate meile selleks loa tingimusel, et täidetud on anonüümseks muutmise
    protseduurid. Arusaamatuste vältimiseks tähendab eelmises lauses sisalduv mõiste „anonüümseks muutmine“, et
    statistilistel ja uuringutega seotud eesmärkidel kasutatud andmebaasist kustutatakse teie nimi, fotod,
    kontaktandmed, arveldusteave ja muud isikuandmed, st andmed, mida puhul võidaks mõistlikult eeldada nende seostamist
    üksikisikuga otseselt või sekkumise kaudu (vt viitena esitatud linki
    <a href="https://en.wikipedia.org/wiki/Null (SQL)" target="_blank">https://en.wikipedia.org/wiki/Null (SQL)</a>),
    või neid ei ekspordita teie profiililt.</p>
<p>Üldteavet anonüümseks muutmise kohta vaadake lingilt
    <a href="https://en.wikipedia.org/wiki/Data anonymizaton" target="_blank">Data anonymizaton</a>.</p>

<p>3.3. Me langetame otsuse Kasutajakonto aktiveerimise kohta pärast:<br/>
<p>(i) kontrollprotseduuride teostamist teie poolt esitatud dokumentide ja/või teabe põhjal<br/>
<p>(ii) ning teabe põhjal, mida meil on käesoleva Lepingu kohaselt õigus sõltumatult koguda, ning</p>
<p>(iii) pärast tasumisele kuulunud makse vastuvõtmist meie poolt. Makse koosneb konto loomise tasust ja osalustasust.
    Konto loomise tasu ei tagastata. Osalustasu võidakse tagastada, kui Leping lõpetati proportsionaalsetel
    alustel.</p>
<p>Konto loomise tasu ja osalustasu kuvatakse teile liideses enne makse sooritamist.</p>
<p>Tagasimakse kohaldumisel on ettevõttel Applied Biochemistry Consulting OÜ õigus täielikult keelduda Kasutajakonto
    avamisest või lõpetada käesolev Leping ja sulgeda teie Konto ilma selgitusi andmata.</p>
<p>3.4. Pärast teie Kasutajakonto avamist puudutava teavituse vastuvõtmist Süsteemilt saate võime kasutada teie konto
    jaoks kättesaadavaid Teenuseid kooskõlas Süsteemi eeskirjadega.</p>
<p>3.5. Konto eest on makstud ja see on aktiveeritud kaheksaks nädalaks, v.a kui teisiti määratud. Pärast aktiveeritud
    perioodi lõppemist maksab Kasutaja tasu, mis kuulub vastavalt maksmisele Teenuste asjakohase kuupäevani pikendamise
    eest. Kahtluste vältimiseks, kui eelneva perioodi tasu erineb asjaomase perioodi tasust, tuleb tasuda viimane.</p>
<p>3.6. Kui Kasutaja rikub Süsteemi eeskirju, mis on määratletud käesoleva Lepingu 4. osas, võidakse keelduda talle
    Teenuse kasutamise õiguse andmisest. Kohalduvad Lepingu lõpetamise suhtes kohalduvad eeskirjad.</p>

<h2>4. Kasutajakonto kasutamine</h2>
<p>4.1. Kasutaja sisestab igapäevaselt Süsteemi järgneva teabe:<br/>
    (A) toitumispäevik;<br/>
    (B) andmed tegevuste kohta;<br/>
    (C) kaal;<br/>
    (D) unejälgimine.</p>
<p>4.2. Kasutaja sisestab iga kahe nädala järel Süsteemi järgneva teabe:</p>
<p>(A) kontrollfotod;</p>
<p>(B) veebisaidil esitatud mõõtmistabelid vastavalt nende muutumisele aeg-ajalt;</p>
<p>4.3. Kasutajal on õigus nõuda vastavalt vajadusele täiendavaid selgitusi, vastuseid küsimustele ja tagasisidet.
    Vastamine sõltub meeskonna töökoormusest, kuid me oleme kohustatud vastama hiljemalt 24 tunni jooksul alates päringu
    vastuvõtmisest. Eelneva lause selgitusena puudutab see ainult tundide arvu tööpäevadel ning me ei pruugi vastata
    nädalalõppudel või riigipühadel. Seda liiki suhtluseks on kõige asjakohasemaks kanaliks Veebisaidil esitatud
    Telegrami kanal.</p>
<p>4.4 Te kannate vastutust kogu teie poolt esitatud teabe täpsuse ja asjakohasuse eest, sh kaal, unejälgimine,
    mõõtmistabelid, kontrollfotod ja mis tahes muu teave, kui seda nõuab Süsteem.</p>

<p>4.5. Kui Kasutajal soovitati läbida konkreetne meditsiiniline uuring, esitab ta selle tulemused Süsteemile
    võimalikult kiiresti, kuna see mõjutab tõsiselt meie poolt esitatud soovituste ulatust.</p>

<h2>5. Intellektuaalomand</h2>
<p>5.1. Te tunnistate, et kõik intellektuaalomandiga seotud õigused, sh õigus kasutada SELFREBOOTCAMPi kaubamärki, mis
    tahes muid kaubamärke, nimesid, autorite nimesid ja muid õigusi („IO-õigused“), mida on kasutatud või mainitud
    SELFREBOOTCAMPi Veebisaidil, on ja jäävad Applied Biochemistry Consulting OÜ ainuomandiks.</p>
<p>5.2. Kõik lehekülgede pealkirjad, mittestandardsed graafilised kujutised, ikoonid ja märgid (sümbolite komplektid) on
    Applied Biochemistry Consulting OÜ teenusemärgid, kaubamärgid või korporatiivse identiteedi elemendid. Teil puudub
    õigus kopeerida, imiteerida või kasutada neid või mis tahes muid intellektuaalomandi elemente ilma õiguse valdaja
    kirjaliku loata. Te võite kasutada SELFREBOOTCAMPi või sidusprogrammide poolt osutatud registreerimise HTML-andmeid
    ilma eelneva kirjaliku loata aadressi täpsustamiseks või SELFREBOOTCAMPi teenustele juurdepääsemiseks, kuid ainult
    kooskõlas SELFREBOOTCAMPi ja/või sidusprogrammide tingimustega. Teil puudub õigus teha muudatusi nendes
    registreerimise HTML-andmetes, kasutada neid SELFREBOOTCAMPi enda või SELFREBOOTCAMPi teenuste diskrediteerimiseks
    või kuvada neid viisil, mis kahjustab SELFREBOOTCAMPi finantsolukorda või avalikku mainet. Kõik õigused, nimed või
    huvid SELFREBOOTCAMPi Veebisaidil, kõik sisu sellel veebisaidil, SELFREBOOTCAMPi Teenused, SELFREBOOTCAMPi
    Teenustega seotud tehnoloogia ning kõik tehnoloogiad ja sisu, mis on loodud mis tahes nimetatud objektide põhjal või
    neist välja võetud on SELFREBOOTCAMPi ja tema litsentsiandjate ainuõiguslik omand.</p>

<p>5.3. Te lubate, et te ei ürita muuta, häkkida või dekompileerida meie mis tahes programme või SELFREBOOTCAMPi
    veebisaiti, saada nendele omavolilist juurdepääsu või muul viisil nendesse sekkuda. Te saate aru, et me võime
    viivitamatult sulgeda teie Konto ja esitada teie vastu hagi, kui te rikute seda lubadust või meil on alust uskuda,
    et te olete seda rikkunud.</p>
<h2>6. Teabevahetuse viisid. Suhtlus.</h2>
<p>6.1 Teie ja meie vahelise suhtluse peamiseks meetodiks Süsteemi kasutamise seisukohalt on Süsteemi Liideses saadaval
    olevad töövahendid. Me võime keelduda teie mis tahes sõnumite või teabe vastuvõtmisest, kui need on saadaval
    Süsteemi Liideses, kuid need on meile saadetud mis tahes muul viisil. Te nõustute sellega, et me võime registreerida
    ja salvestada kõiki elektroonilisi sõnumeid.</p>
<p>6.2. Kõik teiepoolsed teavitused või sõnumid meile, mis ei ole toetatud Süsteemi Liidesega, peavad olema saadetud
    SELFREBOOTCAMPi Veebisaidil nimetatud kontaktkanalite kaudu.</p>
<p>6.3. Meil on täielik õigus jätta tähelepanuta ja ignoreerida mis tahes sõnumeid või teavitusi, mille te olete saatnud
    viisil, mis ei ole vastavuses käesoleva Lepingu punktidega 6.1 ja 6.2. Te kannate kogu riisikot, mis on seotud
    Süsteemiga suhtlemise eeskirjade rikkumisega.</p>
<p>6.4. Meie ise ja meie juhiste kohaselt tegutsevad teenusepakkujad võivad teiega ühendust võtta samuti automaat- või
    eelsalvestatud sõnumite abil teie poolt meile esitatud telefoninumbri(te)l ja/või teie poolt Kasutajakonto
    registreerimisel nimetatud e-posti aadressil. Sellised sõnumid võivad olla seotud (a) teile adresseeritud
    teavituste, (b) pettuste ennetamise või (c) võlgade sissenõudmisega. Me ei jaga teie telefoninumbrit
    (telefoninumbreid) kolmandate osapooltega nende enda tarbeks ilma teie nõusolekuta, välja arvatud teenusepakkujad,
    kellega me oleme sõlminud lepingud SELFREBOOTCAMPi Teenuste toimimise asjakohaseks säilitamiseks. Vastavaid
    teavitusi käsitletakse teie poolt vastuvõetuina nende saatmise päeval.</p>
<p>6.5. Teavitused mis tahes kohtumenetluse või muude dokumentide kohta, mis on seotud teie hagiga SELFREBOOTCAMPi
    vastu, tuleb saata postiga tegevdirektorile SELFREBOOTCAMPi Veebisaidil nimetatud postiaadressil.</p>
<p>6.6. Me võime saata teile mis tahes sõnumeid või nõudeid Süsteemi Liideses rakendatud töövahendite abil ning posti
    või telefoni, faksi, interneti või muude elektrooniliste sidevahendite abil kõigile meile teadaolevatele
    aadressidele.</p>

<h2>7. Kasutaja käitumine</h2>
<p>7.1. Te saate aru ja nõustute, et te ei tohi sooritada järgmisi toiminguid:</p>
<p>A) kasutada Süsteemi ärilistel eesmärkidel, v.a kui teil on selleks eelnev kirjalik nõusolek;</p>
<p>B) kasutada Süsteemi ebaseaduslike või võltsitud toodete või teenuste osutamiseks, sh keelatud ained, võltsitud
    tarbekaubad / piraatkaubad, varastatud vara, vabas ringluses mitteolevad ained ja tarbijatele ohtlikud ained, mis
    tahes ebaseadusliku tulu pesemine ning mis tahes ebaseaduslike tegevuste vormid;</p>
<p>C) esitada SELFREBOOTCAMPile väära või ebatäpset teavet, sh identiteedipettuste katsed näiteks juhtudel, kus
    esitatakse valeandmeid tegeliku olukorra kohta või esitatakse võltsitud dokumente, fotosid või skaneeringuid;</p>
<p>D) jätta meid või teisi SELFREBOOTCAMPi Kasutajaid ilma vahenditest pettuse või valeandmete esitamise abil;</p>
<p>E) üritada saada või tegelikult saada kahekordset kasu SELFREBOOTCAMPilt või teie pangalt või teiselt osapoolelt
    eksliku makse kaudu;</p>
<p>F) osaleda mis tahes tegevustes, millega SELFREBOOTCAMPi või tema Koostööpartnerite arvates, võib kaasneda kõrge
    ohutase, mis on seotud teie enda, teie Kasutajakonto või teie tegevusega Kasutajakontol, või</p>
<p>G) muul viisil rikkuda käesoleva Lepingu tingimusi või selles väljendatud põhimõtteid.</p>
<p>7.2. Te saate aru, et kõik teie ebaseaduslikud tegevused või Lepingu rikkumised võivad and põhjuse teie Kasutajakonto
    ja sellel olevate vahendite ning Teenuste ajutiseks või püsivaks blokeerimiseks.</p>
<p>7.3. Te saate aru, et kõik teie ebaseaduslikud tegevused või Lepingu rikkumised võivad seadusega nõutud juhtudel anda
    põhjuse meiepoolse avalduse esitamiseks teie vastutusele võtmiseks, mis ei välista kriminaalvastutust.</p>

<h2>8. Teie konto sulgemine</h2>
<p>8.1 Käesoleva jaotise sätete kohaselt võivad mõlemad osapooled meie suhte mis tahes ajal ja ilma
    karistussanktsioonideta üles öelda, sulgedes teie Kasutajakonto Süsteemi töövahendite ja Süsteemi Liidese abil.</p>
<p>8.2. Pärast Kasutajakonto sulgemist tühistame kõik pooleliolevad tehingud, v.a kui seaduses on sätestatud teisiti,
    ning maksame tagasi teie tellimistasu proportsionaalsuse põhimõttel. Nagu määratletud punkti 3.6 alapunktis (iii),
    ei kuulu konto loomise tasu tagastamisele.</p>
<p>8.3. Enne oma Kasutajakonto sulgemist peate sellelt Süsteemi töövahendite abil vahendite jäägi välja võtma, kui
    vastav ülekanne ei ole just keelatud kehtiva kohtu- või järelevalveotsusega või mis tahes õigusaktiga või muul
    viisil keelatud seadustega või ametiasutuste poolt. Te kannate vastutust vahendite pangakontole väljamaksmist
    puudutavate suuniste eest pärast oma Kasutajakonto sulgemist.</p>
<p>Te saate aru, et mõnikord makselahenduste pakkujad ei anna meile teie pangakonto andmeid ning nende tarkvaras
    puuduvad tagasimaksefunktsioonid. Sellisel juhul on teie kohustus anda meile oma pangakonto andmed pärast meiepoolse
    teavituse vastuvõtmist teie konto sulgemise ja tagasimaksmisprotseduuri algatamise kohta meie poolt. Kuna me ei ole
    pank või muu finantseerimisasutus, ei nõua me intressi meie arvetel hoitavate vahendite eest.</p>
<p>8.4. Kui te soovite sulgeda oma Kasutajakonto, peate aru saama, et te kannate pärast käesoleva Lepingu lõpetamist
    meie ees vastutust kõigi kohustuste eest, mille olete võtnud ja mille eest te olite vastutavad enne käesoleva
    Lepingu lõpetamist.</p>
<p>8.5. Meie suhte ülesütlemine ei mõjuta negatiivselt osapoolte suhte ülesütlemise hetkeks kogunenud õigusi,
    õiguskaitsevahendeid, kohustusi ja vastutust, sh õigust nõuda kahjude hüvitamist Lepingu mis tahes rikkumiste
    korral, mis olid olemas suhte ülesütlemise kuupäeval või enne seda. Käesoleva lepingu mis tahes sätted, mis jäävad
    otseselt või kaudselt jõusse pärast suhte ülesütlemist, jäävad täies ulatuses jõusse.</p>

<h2>9. Turvalisus</h2>
<p>9.1. Te kannate vastutust paroolide, isiklike tuvastusnumbrite (PIN-numbrid) ja mis tahes muude koodide, mida te
    kasutate SELFREBOOTCAMPi Teenustele juurdepääsemiseks, piisava turvalisuse ja haldamise tagamise eest.
    SELFREBOOTCAMP ei kanna vastutust mis tahes kahjude eest, mis on põhjustatud sellega, et oleme usaldanud meile teie
    Parooli abil antud suuliseid või elektroonilisi suuniseid.</p>
<p>9.2. Kui te kahtlustate, et kolmas osapool on teie parooli teada saanud, peate meid viivitamatult teavitama.</p>
<p>9.3. Isiku- ja konfidentsiaalsed andmed, nt teie tervist puudutavad andmed, on salvestatud serveris eriotstarbeliste
    töövahendite abil krüpteeritud vormis. Krüptimine ja dekrüptimine sooritatakse teie paroolist tuletatud võtme
    abil.</p>
<p>9.4. Kõik võrguühendused SELFREBOOTCAMPi serveritega on kaitstud transpordikihi turve (TLS) protokolliga.</p>
<p>9.5. Kui te saate e-kirja, sms-sõnumi, telefonikõne või vastavasisulise palve mis tahes muus vormis kelleltki, kes
    väidab end SELFREBOOTCAMPi, tema esindajat või kontserni teist ettevõtet esindavat, või kus vastav sõnum sisaldab
    konfidentsiaalse teabe esitamise palvet (andmepüük), olete kohustatud vältima mis tahes teabe või andmete edastamist
    ning peate viivitamatult võtma ühendust SELFREBOOTCAMPi klienditeenindusega. Te ei tohi klõpsata ühelgi lingil
    ebatavalistes e-kirjades või laadida alla mis tahes manuseid sellistelt allikatelt.</p>

<p>9.6. SELFREBOOTCAMP ei palu teil kunagi esitada oma parooli e-kirja või telefoni teel. Vastavasisuliste sõnumite ja
    palvete vastuvõtmisel peate meiega viivitamatult ühendust võtma ja meid nendest asjaoludest teavitama.</p>

<h2>10. Vaidlused SELFREBOOTCAMPiga</h2>
<p>10.1. Kui tekib erimeelsusi teie ja SELFREBOOTCAMPi vahel, on meie eesmärgiks teie arvamus välja selgitada ja sellega
    arvestada ning kui meil ei ole võimalik seda teha teid rahuldaval viisil, pakume neutraalset ja odavat meetodit
    erimeelsuste õigeaegseks lahendamiseks. Te võite teavitada meid kõigist erimeelsustest teie ja SELFREBOOTCAMPi vahel
    seoses SELFREBOOTCAMPi Teenustega kooskõlas Lepingus sätestatud meetmetega.</p>
<p>10.2. Kui osapooled ei ole saavutanud kokkulepet läbirääkimiste abil, on asjakohase haldusalaga kohus Harju Maakohus
    Eestis ning rakendatav õigus on Eesti õigus.</p>

<h2>11. Vastutuse piiramine</h2>
<p>11.1. Ükski käesoleva Lepingu säte ei piira SELFREBOOTCAMPi vastutust surma, vigastuse, pettuse või asjaolude
    tahtliku võltsimise korral.</p>
<p>11.2. Ülalnimetatu osas ei ole meie (sh suurema kindluse tagamiseks ka meie emaettevõte ja sidusettevõtted) ning
    SELFREBOOTCAMPi juhatajad, direktorid, agendid, töötajad ja tarnijad (sh suurema kindluse tagamiseks ülalnimetatud
    üksuste kategooriad meie emaettevõttes ja sidusettevõtetes) mis tahes juhul vastutavad mis tahes saamata jäänud tulu
    või eriliste, juhuslike, kaudsete või teisejärguliste või karistusena määratud kahjude eest (sh piiramata seejuures
    andmekaost või ärivõimaluste kaotamisest tulenevaid kahjusid), mis on põhjustatud meie veebisaidi, Teenuste või
    käesoleva Lepingu tõttu või eelmainituga seoses (asjakohastel juhtudel ka hoolimatusega), seadustega lubatud
    juhtudel ja ulatuses.</p>
<p>11.3 Meie enda (sh suurema kindluse tagamiseks ka meie emaettevõtte ja sidusettevõtete) ja meie (või vastavalt nende)
    juhatajate, direktorite, agentide, töötajate ja tarnijate vastutus teie või mis tahes kolmanda osapoole ees on
    piiratud otsese kahju tegeliku väärtusega. Lisaks sellele ei ole SELFREBOOTCAMP, sh suurema kindluse tagamiseks ka
    meie emaettevõte ja sidusettevõtted, ning meie (või vastavalt nende) juhatajad, direktorid, agendid, töötajad ja
    tarnijad kohalduvates õigusaktides lubatud ulatuses vastutavad ning te nõustute mitte pidama ülalmainitud üksuste
    kategooriaid vastutavaks mis tahes kahjude eest (sh vahendite kadumine, mainekahjud ja seetõttu kantud rahalised
    kahjud, saamata jäänud tulu või muud mittevaralised kahjud või mis tahes erilised, kaudsed või teisijärgulised
    kahjud), mida on otseselt või kaudselt mõjutanud:<br/>
    (a) SELFREBOOTCAMPi Veebisaidi või Teenuste kasutamine teie poolt või teie suutmatus neid kasutada;<br/>
    (b) viivitused või katkestused SELFREBOOTCAMPi Veebisaidi või Teenuste toimimises;<br/>
    (c) viirused või muu pahavara, mida edastati SELFREBOOTCAMPi Veebisaidile või Teenustele juurdepääsemise või
    SELFREBOOTCAMPi Veebisaidil või Teenuses asuva lingi kaudu mõnele muule veebisaidile või teenusele juurdepääsemise
    tulemusel;<br/>
    (d) mis tahes liiki lühiajalised rikked, riist- või tarkvaravead või ebatäpsused SELFREBOOTCAMPi Veebisaidil või
    Teenustes või nendelt vastu võetud andmetes või graafilistes kujutistes;<br/>
    (e) kolmandate osapoolte sisu, tegevus või suutmatus tegutseda;<br/>
    (f) teie Kasutajakonto peatamine või selle suhtes rakendatud muu tegevus;<br/>
    (g) mis tahes kahju, mis on tingitud riist- või tarkvara peidetud puudustest, andmekadudest, viivitustest,
    keeldumistest, vigadest, esitamata jätmistest ja edastatud teabe või suuniste kadumisest, voolukatkestustest,
    katkestustest interneti kättesaadavuses, häkkerite rünnakutest, DoS-rünnakutest, viirustest või muudest
    kahjustavatest või hävitavatest asjaoludest;<br/>
    (h) mis tahes lõivud, tasud, maksud või kahjud, mis tulenevad vahendite varastamisest või mis tahes muust kadumisest
    pärast nende ülekandmist SELFREBOOTCAMPi pangakontolt;<br/>
    (i) kõik kahjud, mis tulenevad asjaolust, et internetis edastatud teave ei pruugi olla täielikult kaitstud ning et
    internet ja asjakohased internetipõhised süsteemid ei pruugi katkematult toimida.</p>
<p>Me ei ole vastutavad mis tahes kahjude eest, mida te võite kanda juhul, kui kolmas osapool saab juurdepääsu teie
    konfidentsiaalsele teabele, mida internetis edastatakse.</p>
<p>11.4. SELFREBOOTCAMP ei käsitleta käesolevat Lepingut rikkuvana või muul viisil vastutavana mis tahes kahjude eest,
    mida on kantud või kannatatud mis tahes käesoleva Lepingu kohaste kohustuste täitmisega viivitamise või suutmatuse
    tõttu neid täita, kui asjakohases ulatuses on vastav viivitus kohustuste täitmisel või suutmatus kohustusi täita
    põhjendatud vääramatust jõust tingitud asjaoludel või teie poolt tehtud tõsise vea või tahtliku rikkumisega, sh mis
    tahes keeldumisega hoida oma parooli salajasena ning mis tahes keeldumisega järgida käesoleva Lepingu tingimusi või
    järgida asjakohaseid põhimõtteid.</p>
<p>11.5. SELFREBOOTCAMP, meie töötajad ja tarnijad tagavad SELFREBOOTCAMPi Teenuste toimimise vastavalt kättesaadavusele
    ilma mis tahes otseste, kaudsete või seadusjärgsete garantiide või tingimusteta. SELFREBOOTCAMP ja meie töötajad
    välisatavad käesolevaga selgesõnaliselt mis tahes kaudsed garantiid omandiõiguse, ärialase kohaldatavuse,
    konkreetseteks eesmärkideks kasutamiseks kohaldatavuse ning autoriõiguste rikkumiste puudumise kohta.</p>
<p>11.6. SELFREBOOTCAMP ei garanteeri püsivad, katkematut ja turvalist juurdepääsu SELFREBOOTCAMPi Süsteeemi mis tahes
    osale ning meie Veebisaidi toimimist võivad häirida mitmed tegurid, mille üle meil puudub kontroll.</p>
<p>11.7. Kumbagi osapoolt ei käsitleta käesolevat Lepingut rikkuvana või neid ei peeta vastutavaks mis tahes käesoleva
    Lepingu kohaste omapoolsete kohustuste täitmisega viivitamise või suutmatuse eest neid täita, kui vastav viivitus
    või suutmatus oli põhjustatud sündmuste, asjaolude või põhjustega, mille üle neil puudus mõistlik kontroll.
    Sellistel asjaoludel on mõjutatud osapoolel õigus proportsionaalselt pikendada kohustuse täitmise tähtaega.</p>
<h2>12. Muud sätted</h2>
<p>12.1. Käesoleva Lepingu suhtes kohaldatakse Eesti õigust ja seda tuleb tõlgendada sellega kooskõlas. Välja arvatud
    juhtudel, kus osapooled on teisiti kokku leppinud, nõustute andma end vastuvaidlematult Eesti kohtute jagatud
    pädevusse, et viia läbi mis tahes hagisid, hagide uurimist ja kohtumenetlust seoses käesoleva Lepingu või
    SELFREBOOTCAMPi Veebisaidi või Teenuste teiepoolse kasutamisega.</p>
<p>12.2. Meiepoolne tegevusetus käesoleva Lepingu rikkumise korral teie või kolmandate osapoolte poolt ei tähenda
    meiepoolset keeldumist õigusest tegutseda järgnevate või sarnaste rikkumiste korral.</p>
<p>12.3. Te kannate vastutust kogu teie poolt esitatut teabe õigeaegse värskendamise eest, sh teave teie e-posti
    aadressi ja postiaadresside, telefoninumbri ja muu teabe kohta. Te olete vastutav kõigi kahjulike tagajärgede eest,
    mis on seotud teie suutmatusega täita kõigist muudatustest teavitamise kohustust.</p>
<p>12.4. Te saate aru ja nõustute, et teil puudub õigus vallata mitut Kasutajakontot.</p>
<p>12.5. Te nõustute kaitsma SELFREBOOTCAMPi ning tema juhatajaid, direktoreid ja töötajaid, hüvitama neile kahjud ja
    vabastama nad vastutusest kõigis nõuetes ja hagides (sh õigusabiteenuste eest tasumise), mille on esitanud mis tahes
    muu osapool käesoleva Lepingu teiepoolse rikkumise ja/või SELFREBOOTCAMPi Teenuste teiepoolse kasutamise tõttu või
    tulemusel.</p>
<p>12.6. Kui teil tekib vaidlus ühe või mitme kasutajaga, vabastate SELFREBOOTCAMPi (ning meie juhatajad, direktorid,
    agendid ja töötajad) vastutusest mis tahes liiki ja loomusega nõuete, hagide ja (otseste või kaudsete) kahjude eest,
    mis on põhjustatud või seotud selliste vaidlustega.</p>
<p>12.7. Kui teie vahendid arestitakse kooskõlas Eesti õigusega või neid maksustatakse, oleme kohustatud järgima
    asjakohaseid suuniseid. Teil puuduvad mis tahes nõudeid meie suhtes seadustega kehtestatud nõuete meiepoolse
    järgimise osas.</p>
<p>12.8. Te olete kohustatud tasuma täielikult kõik käesoleva Lepingu kohaselt tasumisele kuuluvad summad ilma mis tahes
    mahaarvamiste või kinnipidamisteta, v.a need, mis on seadustega nõutud, ning teil puudub õigus nõuda mis tahes
    tasaarveldamist või esitada vastunõue SELFREBOOTCAMPile, et õigustada maksmata jätmist või et vaidlustada mis tahes
    sellise summa tasumine täielikult või osaliselt.</p>
<p>12.9. SELFREBOOTCAMP võib ilma temale kuuluvaid õiguseid või õiguskaitsemeetmeid kahjustamata tasaarveldada mis tahes
    summa, mille te olete kohustatud talle (või mõnele tema sidusettevõttele) tasuma mis tahes summaga, mille
    SELFREBOOTCAMP on kohustatud teile tasuma.</p>
<p>12.10. Teie õigus eraelu puutumatusele on oluline Applied Biochemistry Consulting OÜ jaoks. Kui te olete
    SELFREBOOTCAMPi Teenuseid kasutades saanud teavet kolmanda osapoole kohta, peate säilitama selle teabe
    konfidentsiaalsuse/salastatuse ning kasutama seda ainult ühenduses SELFREBOOTCAMPi Teenuste kasutamisega. Teil
    puudub õigus avaldada või levitada teavet kolmanda osapoole kohta või kasutada seda turunduslikel eesmärkidel, kui
    teile ei ole antud selliseks tegevuseks nõusolekut.</p>
<p>12.11. Applied Biochemistry Consulting OÜ võib mis tahes hetkel määrata, üle kanda, loovutada, anda alltöövõtjale või
    muul viisil üle kanda kõigi käesoleva Lepingu kohaste õiguste või nende osa omandiõiguse ning ta võib alltöövõtu või
    delegeerimise korras anda kõik oma käesoleva Lepingu kohased kohustused või mõne nendest mis tahes viisil kolmandale
    osapoolele või agendile. Teil puudub õigus määrata, üle kanda, loovutada, anda alltöövõtjale või muul viisil üle
    kanda oma kõigi käesoleva Lepingu kohaste õiguste või kohustuste, või mõne nendest, omandiõigus ilma Applied
    Biochemistry Consulting OÜ nõusolekuta.</p>
<p>12.12. Välja arvatud juhul, kui Süsteemi eeskirjad ja protseduurid lubavad teisiti, ei ole teil õigust anda mis tahes
    kolmandale osapoolele õigust teie Kasutaja konto või Teenuste kasutamiseks teie nimel või õigust juurdepääsuks kogu
    teie kontol olevale teabele. Te saate samuti aru, et te olete ainuisikuliselt vastutav kõigi oma tegevuste eest,
    mille olete sooritanud seda keeldu rikkudes, ning kõigi kolmandate osapoolte poolt sooritatud tegevuste eest, kellel
    te võimaldasite oma Kontot või Teenuseid kasutada. Lisaks sellele te saate aru ja nõustute sellega, et te vabastate
    SELFREBOOTCAMPi mis tahes vastutusest ja kõigist kohustustest, mis võivad tekkida selle kolmanda osapoole tegevuste
    või tegevusetuse tulemusena seoses teie poolt antud loaga. Meil on täielik õigus blokeerida teie konto või öelda
    üles meie suhe, kui te rikute Lepingu käesoleva punktiga kehtestatud keeldu.</p>
<p>12.13. Käesolev Leping koos kõigi kohalduvate põhimõtete ja lepingutega SELFREBOOTCAMPi Veebisaidi lehtedel
    „Õiguslikud lepingud“, „Teenusetingimused“ või „Privaatsus“ ei kajasta kõiki korraldusi teie ja SELFREBOOTCAMPi
    vahel seoses Teenustega.</p>

<p>12.14. Kui kohus või mõni muu pädev asutus peab mis tahes põhjustel käesoleva Lepingu mis tahes sätet või (mis tahes
    sätte osa) kehtetuks, ebaseaduslikuks või täidetamatuks, käsitletakse seda sätet nõutud ulatuses kustutatuna ning
    järele jäänud sätted jäävad kehtima ja täidetavateks.</p>
<p>12.15. Käesoleva Lepingu osapooleks mitteoleval üksusel puuduvad mis tahes käesoleva Lepingu kohased või sellega
    seotud õigused.</p>
<p>12.16. Välja arvatud juhul, kui käesolevas Lepingus on selgesõnaliselt teisiti sätestatud, ei ole käesolevas Lepingus
    kuidagi ette nähtud ega käsitleta midagi mis tahes liiki partnerluse või ühisettevõttena osapoolte vahel ega mis
    tahes osapoole tegutsemisena teise osapoole agendina mis tahes eesmärgil. Ühelgi osapoolel ei ole volitusi tegutseda
    agendina teise osapoole nimel mis tahes viisil või siduda teist osapoolt mis tahes viisil.</p>
<p>12.17. Kuigi SELFREBOOTCAMPile on võimalik juurde pääseda üle kogu maailma, ei ole kõik SELFREBOOTCAMPi Veebisaidil
    või selle abil kirjeldatud, mainitud, esitatud või pakutud funktsioonid, tooted ja Teenused saadaval kõigi üksuste
    jaoks kõigis asukohtades. SELFREBOOTCAMP jätab õiguse oma äranägemise järgi piirata juurdepääsu mis tahes
    funktsioonile, tootele või teenusele ning nende ulatust mis tahes üksuse või asukoha jaoks. Kõik SELFREBOOTCAMPi
    Veebisaidil avaldatud mis tahes funktsiooni, toote või teenuse pakkumised tühistatakse asukohas, kus need on
    keelatud.</p>
<p>12.18. Käesoleva Lepingu osapooled nõustuvad, et käesolev Leping ja kõik kaasnevad dokumendid koostatakse inglise
    keeles.</p>
<p>12.19. Hoolimata käesoleva Lepingu mis tahes muudest sätetest, on käesoleva Lepingu kõik tõlked esitatud ainult teie
    mugavuseks. Tähtaegade, tingimuste ja nõuete tähendused käesoleva Lepingu tekstis vastavad nende ingliskeelsetele
    määratlustele ja tõlgendustele. Kõik esitatud tõlked võivad tõlgendada ebatäpselt inglise keeles esitatud
    algteavet.</p>
