{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}Подключение Instagram{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% include "blocks/progress_bar.html" %}
        <h2 class="login-logo text-center">
            Добавление Instagram
        </h2>
        <div class="well">
            <p><strong>
                Подключите Instagram-аккаунт, в котором Вы будете вести дневник данных и рациона, а также выкладывать
                свои контрольные фотографии.
            </strong></p>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="panel-title">
                        По условиям участия в проекте, аккаунт в инстаграме должен быть открытым. При желании вы можете
                        закрыть голову, татуировки и прочие особые приметы, чтобы вас не узнали.
                    </div>
                </div>
            </div>
            <p>
                Если вы не хотите, чтобы ваши знакомые из соцсетей узнали о вашем о участии в проекте, видели ваши
                фотографии "в трусах" и внезапно начали учить вас худеть, пожалуйста, соблюдайте следующие правила:
            </p>
            <ul>
                <li>
                    заведите новый, нигде ранее не использовавшийся адрес электронной почты
                </li>
                <li>
                    зарегистрируйте на этот адрес аккаунт в инстаграме, начальные символы его не должны совпадать с
                    вашим
                    старым аккаунтом
                </li>
                <li>
                    не привязывайте этот аккаунт к своему номеру телефона и аккаунтам в других соцсетях, запретите
                    рекомендации по списку контактов
                </li>
                <li>
                    во всех случаях используйте максимально сложные пароли, чтобы избежать кражи вашего аккаунта в
                    инстаграме
                </li>
            </ul>
            <p>
                Использование старых адресов электронной почты может привести к тому, что аккаунт будет связан,
                например, с
                вашим Фейсбуком, и ваши друзья рано или поздно получат оповещение о вашем аккаунте в Instagram,
                используемом в проекте.
            </p>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Чтобы удостовериться, что перечисленные действия оказались эффективными, выгрузите в инстаграм
                        нейтральную, не связанную с проектом selfrebootcamp картинку, и посмотрите,
                        не появятся ли ваши друзья из фейсбука и инстаграма.
                    </div>
                </div>
            </div>
            <p>
                Если зайти в Instagram с настольного компьютера, то там можно
                <a href="https://help.instagram.com/530450580417848" target="_blank">
                    отключить опцию рекомендации аккаунта
                </a>. Это поможет уменьшить количество "незваных гостей".
            </p>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="panel-title">
                        При участии по тарифу "Промо" инстаграм должен быть открытым. Вопросы доступности и приватности
                        аккаунта участники тарифа "Промо" решают самостоятельно. Для любых других тарифов подключение
                        инстаграм-аккаунта не требуется.
                    </div>
                </div>
            </div>

        </div>
        <div class="login-box-body">
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}

                <button type="submit" class="btn btn-lg gtn-huge btn-social btn-instagram btn-block text-center">
                    <i class="fab fa-instagram"></i> Подключить Instagram
                </button>
            </form>
        </div>

    </div>
{% endblock %}