{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}Авторизация мобильного приложения{% endblock %}

{% block css_block %}
    <style>
        .full_screen {
            height: 100vh;
            width: 100vw !important;
        }

        .centred {
            margin-top: -35px;
            top: 50%;
            width: 100%;
            position: absolute;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid full_screen">
        <div class="centred">
            <button class="btn btn-lg center-block btn-primary btn-mobile-auth">
                <i class="glyphicons glyphicons-keys"></i>&nbsp;Авторизовать мобильное приложение
                <br/>на этом устройстве
            </button>
        </div>
    </div>
{% endblock %}
{% block js_block %}
    <script>
        window.MOBILE_TOKEN = "{{ token }}";
    </script>
{% endblock %}