{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}Оплата участия{% endblock %}
{% block css_block %}
    <style type="text/css">
        #pp_form input[type="image"] {
            width: 171px;
            height: 47px;
            border: 1px solid gray;
            padding: 1px;
            box-shadow: 4px 4px gray;
            margin-left: 32px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% if not user.profile.wave %}
            {% include "blocks/progress_bar.html" %}
        {% endif %}
        <h2 class="login-logo">
            #SelfRebootCamp - проверка профиля в социальной сети
        </h2>
        <div class="panel panel-danger">
            <div class="panel-heading bg-danger text-danger">
                <h3>На данный момент оплата участия невозможна.</h3>
                <p>
                    Уважаемый абитуриент!
                </p>
                <p>
                    Для того, чтобы оплатить участие и присоединиться к проекту, остался один маленький шаг.
                </p>

                <p>Участие в проекте требует подключать личный кабинет на профиль в Facebook реального, живого человека,
                    и именно того, кто собирается участвовать.</p>

                <p>Все аккаунты абитуриентов были проверены нашей командой вручную. И при этой проверке Ваш вызвал у нас
                    сомнения. Возможно, он абсолютно пустой и создан три дня назад, или в нем только картинки-пустышки,
                    или он полностью закрыт и мы не можем понять, принадлежит он живому человеку или это просто
                    свежесозданная страница.</p>

                <p>Мы никогда не выдаем факта участия человека в нашем проекте. Мы не передаем никаких персональных
                    данных никаким соцсетям, приложениям и сервисам. Ваша анонимность - наша важнейшая задача и мы
                    делаем все, чтобы пожелавшие остаться неизвестными такими и остались.</p>

                <p>Пожалуйста, свяжитесь с нами, чтобы решить эту проблему и совместно перепривязать личный кабинет к
                    другому FB-профилю, Вашему реальному.</p>

            </div>
        </div>

    </div>
{% endblock %}