{% extends "srbc/base.html" %}
{% load static %}


{% block title %}Рацион{% endblock %}
{% block navbar_bottom %}{% endblock %}
{% block css_block %}
    <!-- @formatter:off -->
    {{ profile_serialized|json_script:"data-profile-serialized" }}
    <script>
        var SRBC_USER = JSON.parse(document.getElementById('data-profile-serialized').textContent);
    </script>
    <!-- @formatter:on -->

    <link href="{% static 'css/diary_form_meals.min.css' %}?v=20191101" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/angular-animate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/angular-sanitize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/angular-touch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/ui-bootstrap.js' %}"></script>

    <script type="text/javascript"
            src="{% static 'apps/admin_form_meals/app.module.min.js' %}?v=2021110916"></script>
    <script type="text/javascript"
            src="{% static 'apps/shared/admin_meal/adminMealDirective.min.js' %}?v=2019111201"></script>
    <script type="text/javascript"
            src="{% static 'apps/shared/meal_datetime/mealDateTimeDirective.min.js' %}?v=2019112401"></script>
    
    <script type="text/javascript" src="{% static 'apps/shared/stopclick/stopclickDirective.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/ng-sticky.min.js' %}"></script>
{% endblock %}

{% block js_block %}
    <script>
        var TODAY = '{{ today|date:"Y-m-d" }}';
        var START_DATE = '{{ profile_user.profile.wave.start_date|date:"d.m.Y" }}';
        var CURRENT_DATE = '{{ today|date:"d.m.Y" }}';
    </script>
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container-fluid app-container ng-cloak" ng-app="srbcApp" ng-controller="RootCtrl">
        <div ng-include="'{% static 'apps/shared/topmenu/alerts.html' %}'"></div>
        <div class="panel panel-default">
            <div class="panel-body col-md-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>
                            Рацион участника
                            <a href="/profile/{{ profile_user.username }}/#diaries">
                                @{{ profile_user.username }}
                            </a>
                        </h3>
                        {% if perms.srbc.manage_diary_meal %}
                            <div class="panel panel-info" ng-show="meal_reviewed_by">
                                <div class="panel-heading">
                                    Рацион оцифровал
                                    <a href="/admin/auth/user/{$ meal_reviewed_by.id $}/change/" target="_blank">@{$ meal_reviewed_by.username $}</a>
                                    (id: <u>{$ meal_reviewed_by.id $}</u>, name: <u>{$ meal_reviewed_by.first_name $} {$ meal_reviewed_by.last_name $}</u>)
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group form-group-lg has-feedback"
                             ng-class="{'has-warning': meal_validated && validation_date_warning, 'has-success': meal_validated && !validation_date_warning, 'has-error': !meal_validated}"
                        >
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a class="btn btn-lg btn-primary" ng-click="goYesterday()">
                                        <i class="glyphicons glyphicons-arrow-left"></i>
                                    </a>
                                </div>
                                <input class="form-control text-center" readonly
                                       ng-value="'Рацион за ' + yesterday"
                                       id="collage-date"
                                       style="font-weight: bold;"/>
                                <span class="form-control-feedback" style="right: 60px; width: 100px"
                                      title="Дата отправки рациона на анализ">
                                    <i class="glyphicons"
                                       ng-class="{'glyphicons-warning-sign': meal_validated && validation_date_warning, 'glyphicons-check': meal_validated && !validation_date_warning, 'glyphicons-remove': !meal_validated}"
                                    ></i>
                                    <span ng-if="meal_validated">&nbsp;{$ day_data.validation_date $}</span>
                                    <span ng-if="!meal_validated">&nbsp;Н/Д</span>

                                </span>
                                <div class="input-group-btn">
                                    <a class="btn btn-lg btn-primary" ng-click="goTomorrow()">
                                        <i class="glyphicons glyphicons-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"
                     style="padding-top: 8px; padding-bottom: 8px; background-color: #fff; margin-bottom: 8px;"
                     ng-class="{'bg-danger': day_data.faults_data.length}"
                     sticky offset="50"
                >

                    <div class="col-xs-4 col-sm-3 col-lg-3" ng-show="!$root.is_fake">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="display_mode" uib-btn-radio="'short'"
                                   ng-click="setDisplayMode('short')">
                                <i class="glyphicons glyphicons-note"></i>
                            </label>
                            <label class="btn btn-primary" ng-model="display_mode" uib-btn-radio="'full'"
                                   ng-click="setDisplayMode('full')">
                                <i class="glyphicons glyphicons-table"></i>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-8 col-sm-9 col-lg-9" ng-show="!$root.is_fake">
                        <button class="btn btn-primary btn-block" ng-click="saveReview()"
                                ng-disabled="!$root.is_ready || day_data.pers_rec_flag === 'NULL'"
                        >
                            <i class="glyphicons glyphicons-floppy-disk"></i> Сохранить
                        </button>
                    </div>

                    <div class="col-xs-12" ng-show="$root.is_fake">
                        <button class="btn btn-blame btn-block" ng-disabled="true">
                            <i class="glyphicons glyphicons-ban-circle"></i> Рацион с ошибками в описании
                        </button>
                    </div>
                    <div class="col-xs-12" style="margin-top: 8px;">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicons glyphicons-dining-set"></i>
                            </div>
                            <input class="form-control" ng-model="day_data.meals"
                                   ng-disabled="!$root.is_ready || no_formula"/>
                            <div class="input-group-addon">
                                /
                            </div>
                            <input class="form-control" ng-model="$root.faults_list.length"
                                   ng-disabled="true"/>
                            <div class="input-group-addon">
                                <label>
                                    *
                                    <input type="checkbox" ng-model="day_data.is_overcalory" ng-value="true"
                                           ng-disabled="!$root.is_ready || no_overcalory"/>
                                </label>
                            </div>
                            <div class="input-group-btn" style="width: 16.666666666%">
                                <button class="btn btn-info col-xs-6"
                                        ng-click="$root.addNotice(day_data, 'day')"
                                        ng-disabled="!$root.is_ready || !$root.profile.is_meal_comments_allowed"
                                >
                                    <i class="glyphicons glyphicons-chat"></i>
                                </button>
                                <button class="btn btn-danger  col-xs-6"
                                        ng-click="$root.addFault('day')"
                                        ng-disabled="!$root.is_ready"
                                >
                                    <i class="glyphicons glyphicons-exclamation-sign"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top: 8px;">
                        <label ng-class="{'has-error': day_data.pers_rec_flag === 'NULL', 'has-success': day_data.pers_rec_flag !== 'NULL'}">
                            <select class="form-control" ng-model="day_data.pers_rec_flag">
                                <option value="NULL"></option>
                                <option value="NA">❓ Рацион не проверен на соответствие персональным рекомендациям</option>
                                <option value="OK">✅ Рацион соответствует персональным рекомендациям</option>
                                <option value="F">❌ Рацион НЕ соответствует персональным рекомендациям</option>
                            </select>
                            <span class="help-block" ng-show="day_data.pers_rec_flag === 'NULL'">
                                <i class="glyphicon glyphicon-warning-sign"></i> Пожалуйста, выберите статус персональных рекомендаций.
                            </span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" ng-show="day_data.faults_data.length">
                        <div class="label meal-notice label-info"
                             style="margin: 4px; display: inline-block; position: relative; padding-right: 20px"
                             ng-repeat="(key, fault) in day_data.faults_data">
                            <span ng-hide="fault.comment.length">{$ $root.errorTypes[fault.type].title $}</span>
                            <span ng-show="fault.comment.length">{$ fault.comment $}</span>
                            <span class="remove"
                                  ng-click="$root.deleteNotice(day_data, key)">x</span>
                        </div>
                    </div>
                    <div id="day_faults_list" class="col-xs-12" ng-show="$root.faults_list.length">
                        <ul class="list-group">

                            <li class="list-group-item active">
                                Список жиронакопительных действий за день
                            </li>
                            <li style="position: relative"
                                class="list-group-item meal-fault" ng-repeat="(key, fault) in $root.faults_list">
                                {$ fault.fault.title $}
                                <span class="remove btn btn-xs btn-danger glyphicons glyphicons-bin"
                                      ng-click="$root.deleteFault(key)"></span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="row" id="meals_text" ng-show="display_mode=='short'">
                    <pre class="meal-text-preview">{$ getIgText() $}</pre>
                </div>
                <div class="row" id="meals_container" ng-show="display_mode=='full'">
                    <div class="col-xs-12">
                        <div class="panel" ng-class="{'panel-success': wake_up_ok(), 'panel-danger': !wake_up_ok()}"
                             style="margin-bottom: 12px;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5 column">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicons glyphicons-clock"></i></span>
                                            <meal-date-time datetime="day_data.wakeup_time"></meal-date-time>
                                        </div>
                                    </div>
                                    <div class="panel-title col-xs-7 column meal-title">
                                        Подъём
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <meal ng-repeat="meal in meals" obj="meal"></meal>
                    <div class="col-xs-12">
                        <div class="panel" ng-class="{'panel-success': gotobed_ok(), 'panel-danger': !gotobed_ok()}"
                             style="margin-bottom: 12px;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5 column">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicons glyphicons-clock"></i></span>
                                            <meal-date-time datetime="day_data.bed_time" aftermidnight=day_data.bed_time_is_next_day></meal-date-time>
                                        </div>
                                    </div>
                                    <div class="panel-title col-xs-7 column meal-title">
                                        Отбой
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel" ng-class="{'panel-info': water_ok(), 'panel-warning': !water_ok()}"
                             style="margin-bottom: 12px;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-5 column">
                                        <div class="input-group">
                                        <span class="input-group-addon"
                                              style="font-size: x-large; overflow: hidden; margin-bottom: 0; padding: 0; padding-left: 6px; padding-right: 8px;">
                                            🚰
                                        </span>
                                            <input type="number" step="0.2" class="form-control meal-time"
                                                   ng-model="day_data.water_consumed"
                                                   readonly
                                            />
                                            <span class="input-group-addon">л</span>

                                        </div>
                                    </div>
                                    <div class="panel-title col-xs-3 column meal-title">
                                        Вода
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default" style="margin-bottom: 12px;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <div class="thumbnail" ng-if="meal_image.image">
                                        <img id="meal_image_preview" ng-src="{$ meal_image.image $}" height="200"/>
                                    </div>
                                </div>
                                <div class="col-xs-4 panel-title column meal-title">Фото рациона</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" ng-show="!$root.is_fake && $root.is_ready">
                        <button class="btn btn-blame btn-block" ng-click="blameMeal()" style="white-space: normal;">
                            <i class="glyphicons glyphicons-ban-circle"></i> Рацион с неверными данными
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}